In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import sqlite3
import dateutil.parser as parser
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
#Create Database Connection
DBName = '../Data/yelp_project.db'
conn=sqlite3.connect(DBName)
cursor = conn.cursor()

In [3]:
#Read Business Data
query = "SELECT b.business_id, r.stars, attributes, date, useful, cool, funny, postal_code FROM review r JOIN \
business b USING (business_id) WHERE CAST(postal_code AS int)>=15000 AND CAST(postal_code AS int)<15500"
business_data = pd.read_sql_query(query,conn)
business_data

,business_id,stars,attributes,date,useful,cool,funny,postal_code
0,cnGIivYRLxpF7tBVR_JwWA,1,"['AcceptsInsurance: False', 'BusinessAcceptsCr...",2016-02-01,0,0,0,15071
1,cnGIivYRLxpF7tBVR_JwWA,5,"['AcceptsInsurance: False', 'BusinessAcceptsCr...",2016-07-04,0,0,0,15071
2,cnGIivYRLxpF7tBVR_JwWA,5,"['AcceptsInsurance: False', 'BusinessAcceptsCr...",2016-07-28,0,0,0,15071
3,cnGIivYRLxpF7tBVR_JwWA,5,"['AcceptsInsurance: False', 'BusinessAcceptsCr...",2016-08-06,0,0,0,15071
4,P3LisOj7DktgGa7C5FYpnA,1,['BusinessAcceptsCreditCards: True'],2015-09-19,4,0,0,15237
5,P3LisOj7DktgGa7C5FYpnA,2,['BusinessAcceptsCreditCards: True'],2014-01-29,4,1,0,15237
6,P3LisOj7DktgGa7C5FYpnA,3,['BusinessAcceptsCreditCards: True'],2016-12-05,0,0,0,15237
7,P3LisOj7DktgGa7C5FYpnA,5,['BusinessAcceptsCreditCards: True'],2011-11-19,2,0,0,15237
8,P3LisOj7DktgGa7C5FYpnA,5,['BusinessAcceptsCreditCards: True'],2013-10-05,0,0,0,15237
9,P3LisOj7DktgGa7C5FYpnA,5,['BusinessAcceptsCreditCards: True'],2014-01-12,2,0,0,15237
10,P3LisOj7DktgGa7C5FYpnA,5,['BusinessAcceptsCreditCards: True'],2015-03-20,1,0,0,15237
11,P3LisOj7DktgGa7C5FYpnA,5,['BusinessAcceptsCreditCards: True'],2016-01-15,2,0,0,15237
12,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2013-09-22,1,0,0,15212
13,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2014-05-25,0,0,0,15212
14,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2014-08-10,0,0,0,15212
15,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2014-08-22,0,0,0,15212
16,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2015-08-22,0,0,0,15212
17,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2015-09-06,1,0,0,15212
18,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2015-10-04,0,0,0,15212
19,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2015-11-01,0,0,0,15212
20,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2015-12-10,0,0,0,15212
21,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-06-04,0,0,0,15212
22,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-06-12,0,0,0,15212
23,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-06-15,0,0,0,15212
24,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-07-04,0,0,0,15212
25,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-07-13,0,0,0,15212
26,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-07-21,1,0,0,15212
27,93otbGHE0s0m-lU1osvg9w,2,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2012-06-17,2,0,0,15212
28,93otbGHE0s0m-lU1osvg9w,2,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2012-11-27,1,0,0,15212
29,93otbGHE0s0m-lU1osvg9w,2,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2013-06-18,0,0,0,15212
...,...,...,...,...,...,...,...,...
176475,VqprK2mx2d6X3fufk5y58w,5,"['AcceptsInsurance: False', 'BikeParking: True...",2016-10-18,0,0,0,15237
176476,xh_ByBcQAU40VlbeqH-YkQ,1,None,2013-06-02,9,0,0,15237
176477,xh_ByBcQAU40VlbeqH-YkQ,1,None,2016-03-22,5,0,0,15237
176478,xh_ByBcQAU40VlbeqH-YkQ,1,None,2016-04-20,1,0,0,15237
176479,xh_ByBcQAU40VlbeqH-YkQ,3,None,2015-02-13,3,1,0,15237
176480,xh_ByBcQAU40VlbeqH-YkQ,3,None,2016-05-28,0,0,0,15237
176481,xh_ByBcQAU40VlbeqH-YkQ,4,None,2014-03-08,1,0,0,15237
176482,xh_ByBcQAU40VlbeqH-YkQ,4,None,2015-03-02,5,0,0,15237
176483,xh_ByBcQAU40VlbeqH-YkQ,4,None,2015-11-22,2,0,0,15237
176484,xh_ByBcQAU40VlbeqH-YkQ,4,None,2015-12-23,2,0,0,15237
176485,xh_ByBcQAU40VlbeqH-YkQ,5,None,2010-08-31,3,0,0,15237
176486,xh_ByBcQAU40VlbeqH-YkQ,5,None,2013-02-19,4,1,0,15237
176487,xh_ByBcQAU40VlbeqH-YkQ,5,None,2014-02-07,0,0,0,15237
176488,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-01-13,1,0,0,15237
176489,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-02-07,0,0,0,15237
176490,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-04-12,0,0,0,15237
176491,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-04-18,0,0,0,15237
176492,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-04-29,1,0,0,15237
176493,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-06-14,1,0,0,15237
176494,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-07-20,0,0,0,15237
176495,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-09-25,0,0,0,15237
176496,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-11-01,1,0,0,15237
176497,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-11-03,4,1,0,15237
176498,xh_ByBcQAU40VlbeqH-YkQ,5,None,2016-01-05,4,2,0,15237
176499,xh_ByBcQAU40VlbeqH-YkQ,5,None,2016-04-17,0,0,0,15237
176500,xh_ByBcQAU40VlbeqH-YkQ,5,None,2016-08-16,1,2,0,15237
176501,xh_ByBcQAU40VlbeqH-YkQ,5,None,2016-08-21,6,3,0,15237
176502,wZEMd6KoSOm2hPOB2vAeNg,5,None,2013-09-09,0,0,0,15116
176503,wZEMd6KoSOm2hPOB2vAeNg,5,None,2013-12-16,1,1,0,15116
176504,wZEMd6KoSOm2hPOB2vAeNg,5,None,2015-07-09,0,0,0,15116

In [4]:
#Split the attributes one per row
attributes_splitted = pd.concat([pd.Series(row['business_id'],row['attributes'].split(',')) for _, row in business_data.dropna().iterrows()]).reset_index()
attributes_splitted.columns = ['Attributes', 'business_id']

In [5]:
attributes_splitted

                                      Attributes             business_id
0                     ['AcceptsInsurance: False'  cnGIivYRLxpF7tBVR_JwWA
1             'BusinessAcceptsCreditCards: True'  cnGIivYRLxpF7tBVR_JwWA
2             "BusinessParking: {'garage': False  cnGIivYRLxpF7tBVR_JwWA
3                                'street': False  cnGIivYRLxpF7tBVR_JwWA
4                             'validated': False  cnGIivYRLxpF7tBVR_JwWA
5                                    'lot': True  cnGIivYRLxpF7tBVR_JwWA
6                               'valet': False}"  cnGIivYRLxpF7tBVR_JwWA
7                      'ByAppointmentOnly: True'  cnGIivYRLxpF7tBVR_JwWA
8         "HairSpecializesIn: {'coloring': False  cnGIivYRLxpF7tBVR_JwWA
9                       'africanamerican': False  cnGIivYRLxpF7tBVR_JwWA
10                                'curly': False  cnGIivYRLxpF7tBVR_JwWA
11                                'perms': False  cnGIivYRLxpF7tBVR_JwWA
12                                 'kids': False  cnGIivYRLxpF7tBVR_JwWA
13                           'extensions': False  cnGIivYRLxpF7tBVR_JwWA
14                                'asian': False  cnGIivYRLxpF7tBVR_JwWA
15                      'straightperms': False}"  cnGIivYRLxpF7tBVR_JwWA
16                  'RestaurantsPriceRange2: 3']  cnGIivYRLxpF7tBVR_JwWA
17                    ['AcceptsInsurance: False'  cnGIivYRLxpF7tBVR_JwWA
18            'BusinessAcceptsCreditCards: True'  cnGIivYRLxpF7tBVR_JwWA
19            "BusinessParking: {'garage': False  cnGIivYRLxpF7tBVR_JwWA
20                               'street': False  cnGIivYRLxpF7tBVR_JwWA
21                            'validated': False  cnGIivYRLxpF7tBVR_JwWA
22                                   'lot': True  cnGIivYRLxpF7tBVR_JwWA
23                              'valet': False}"  cnGIivYRLxpF7tBVR_JwWA
24                     'ByAppointmentOnly: True'  cnGIivYRLxpF7tBVR_JwWA
25        "HairSpecializesIn: {'coloring': False  cnGIivYRLxpF7tBVR_JwWA
26                      'africanamerican': False  cnGIivYRLxpF7tBVR_JwWA
27                                'curly': False  cnGIivYRLxpF7tBVR_JwWA
28                                'perms': False  cnGIivYRLxpF7tBVR_JwWA
29                                 'kids': False  cnGIivYRLxpF7tBVR_JwWA
...                                          ...                     ...
5315834               ['AcceptsInsurance: False'  VqprK2mx2d6X3fufk5y58w
5315835                      'BikeParking: True'  VqprK2mx2d6X3fufk5y58w
5315836       'BusinessAcceptsCreditCards: True'  VqprK2mx2d6X3fufk5y58w
5315837       "BusinessParking: {'garage': False  VqprK2mx2d6X3fufk5y58w
5315838                          'street': False  VqprK2mx2d6X3fufk5y58w
5315839                       'validated': False  VqprK2mx2d6X3fufk5y58w
5315840                             'lot': False  VqprK2mx2d6X3fufk5y58w
5315841                         'valet': False}"  VqprK2mx2d6X3fufk5y58w
5315842                'ByAppointmentOnly: True'  VqprK2mx2d6X3fufk5y58w
5315843             'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w
5315844               ['AcceptsInsurance: False'  VqprK2mx2d6X3fufk5y58w
5315845                      'BikeParking: True'  VqprK2mx2d6X3fufk5y58w
5315846       'BusinessAcceptsCreditCards: True'  VqprK2mx2d6X3fufk5y58w
5315847       "BusinessParking: {'garage': False  VqprK2mx2d6X3fufk5y58w
5315848                          'street': False  VqprK2mx2d6X3fufk5y58w
5315849                       'validated': False  VqprK2mx2d6X3fufk5y58w
5315850                             'lot': False  VqprK2mx2d6X3fufk5y58w
5315851                         'valet': False}"  VqprK2mx2d6X3fufk5y58w
5315852                'ByAppointmentOnly: True'  VqprK2mx2d6X3fufk5y58w
5315853             'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w
5315854               ['AcceptsInsurance: False'  VqprK2mx2d6X3fufk5y58w
5315855                      'BikeParking: True'  VqprK2mx2d6X3fufk5y58w
5315856       'BusinessAcceptsCreditCards: True'  VqprK2mx2d6X3fufk5y58w
5315857       "BusinessParking: {'garage': False  VqprK2mx2d6X3fufk5y58w
5315858                          'street': False  VqprK2mx2d6X3fufk5y58w
5315859                       'validated': False  VqprK2mx2d6X3fufk5y58w
5315860                             'lot': False  VqprK2mx2d6X3fufk5y58w
5315861                         'valet': False}"  VqprK2mx2d6X3fufk5y58w
5315862                'ByAppointmentOnly: True'  VqprK2mx2d6X3fufk5y58w
5315863             'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w

[5315864 rows x 2 columns]

In [6]:
#Get Restaurants with price
restprice = attributes_splitted[attributes_splitted.Attributes.str.contains("restaurantspricerange", case=False)].reset_index()
restprice

          index                     Attributes             business_id
0            16   'RestaurantsPriceRange2: 3']  cnGIivYRLxpF7tBVR_JwWA
1            33   'RestaurantsPriceRange2: 3']  cnGIivYRLxpF7tBVR_JwWA
2            50   'RestaurantsPriceRange2: 3']  cnGIivYRLxpF7tBVR_JwWA
3            67   'RestaurantsPriceRange2: 3']  cnGIivYRLxpF7tBVR_JwWA
4           124    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
5           179    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
6           234    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
7           289    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
8           344    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
9           399    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
10          454    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
11          509    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
12          564    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
13          619    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
14          674    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
15          729    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
16          784    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
17          839    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
18          894    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
19          949    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
20         1004    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
21         1059    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
22         1114    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
23         1169    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
24         1224    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
25         1279    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
26         1334    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
27         1389    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
28         1444    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
29         1499    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w
...         ...                            ...                     ...
156005  5314982    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156006  5315019    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156007  5315056    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156008  5315093    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156009  5315130    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156010  5315167    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156011  5315204    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156012  5315241    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156013  5315278    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156014  5315315    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156015  5315352    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156016  5315389    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156017  5315426    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156018  5315463    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156019  5315500    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156020  5315537    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156021  5315574    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156022  5315611    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156023  5315648    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156024  5315685    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156025  5315722    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156026  5315759    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w
156027  5315777    'RestaurantsPriceRange2: 1'  ZZ8sAXHb0gX-c81Ea1M3OQ
156028  5315792    'RestaurantsPriceRange2: 1'  ZZ8sAXHb0gX-c81Ea1M3OQ
156029  5315807    'RestaurantsPriceRange2: 1'  ZZ8sAXHb0gX-c81Ea1M3OQ
156030  5315823   'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w
156031  5315833   'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w
156032  5315843   'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w
156033  5315853   'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w
156034  5315863   'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w

[156035 rows x 3 columns]

In [98]:
#Extract price range and remove non-numerical characters
restprice['Price'] = [ pd.to_numeric(re.sub(r"[\[\]' ]", "", r.split(":")[1])) for r in restprice.Attributes]
restprice

          index                     Attributes             business_id  Price
0            16   'RestaurantsPriceRange2: 3']  cnGIivYRLxpF7tBVR_JwWA      3
1            33   'RestaurantsPriceRange2: 3']  cnGIivYRLxpF7tBVR_JwWA      3
2            50   'RestaurantsPriceRange2: 3']  cnGIivYRLxpF7tBVR_JwWA      3
3            67   'RestaurantsPriceRange2: 3']  cnGIivYRLxpF7tBVR_JwWA      3
4           124    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
5           179    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
6           234    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
7           289    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
8           344    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
9           399    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
10          454    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
11          509    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
12          564    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
13          619    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
14          674    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
15          729    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
16          784    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
17          839    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
18          894    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
19          949    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
20         1004    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
21         1059    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
22         1114    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
23         1169    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
24         1224    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
25         1279    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
26         1334    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
27         1389    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
28         1444    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
29         1499    'RestaurantsPriceRange2: 2'  93otbGHE0s0m-lU1osvg9w      2
...         ...                            ...                     ...    ...
156005  5314982    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156006  5315019    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156007  5315056    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156008  5315093    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156009  5315130    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156010  5315167    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156011  5315204    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156012  5315241    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156013  5315278    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156014  5315315    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156015  5315352    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156016  5315389    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156017  5315426    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156018  5315463    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156019  5315500    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156020  5315537    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156021  5315574    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156022  5315611    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156023  5315648    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156024  5315685    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156025  5315722    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156026  5315759    'RestaurantsPriceRange2: 2'  7ummB6k1hmUgljgrzevM2w      2
156027  5315777    'RestaurantsPriceRange2: 1'  ZZ8sAXHb0gX-c81Ea1M3OQ      1
156028  5315792    'RestaurantsPriceRange2: 1'  ZZ8sAXHb0gX-c81Ea1M3OQ      1
156029  5315807    'RestaurantsPriceRange2: 1'  ZZ8sAXHb0gX-c81Ea1M3OQ      1
156030  5315823   'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w      2
156031  5315833   'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w      2
156032  5315843   'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w      2
156033  5315853   'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w      2
156034  5315863   'RestaurantsPriceRange2: 2']  VqprK2mx2d6X3fufk5y58w      2

[156035 rows x 4 columns]

In [99]:
business_price = restprice[['business_id', 'Price']]
business_price

                   business_id  Price
0       cnGIivYRLxpF7tBVR_JwWA      3
1       cnGIivYRLxpF7tBVR_JwWA      3
2       cnGIivYRLxpF7tBVR_JwWA      3
3       cnGIivYRLxpF7tBVR_JwWA      3
4       93otbGHE0s0m-lU1osvg9w      2
5       93otbGHE0s0m-lU1osvg9w      2
6       93otbGHE0s0m-lU1osvg9w      2
7       93otbGHE0s0m-lU1osvg9w      2
8       93otbGHE0s0m-lU1osvg9w      2
9       93otbGHE0s0m-lU1osvg9w      2
10      93otbGHE0s0m-lU1osvg9w      2
11      93otbGHE0s0m-lU1osvg9w      2
12      93otbGHE0s0m-lU1osvg9w      2
13      93otbGHE0s0m-lU1osvg9w      2
14      93otbGHE0s0m-lU1osvg9w      2
15      93otbGHE0s0m-lU1osvg9w      2
16      93otbGHE0s0m-lU1osvg9w      2
17      93otbGHE0s0m-lU1osvg9w      2
18      93otbGHE0s0m-lU1osvg9w      2
19      93otbGHE0s0m-lU1osvg9w      2
20      93otbGHE0s0m-lU1osvg9w      2
21      93otbGHE0s0m-lU1osvg9w      2
22      93otbGHE0s0m-lU1osvg9w      2
23      93otbGHE0s0m-lU1osvg9w      2
24      93otbGHE0s0m-lU1osvg9w      2
25      93otbGHE0s0m-lU1osvg9w      2
26      93otbGHE0s0m-lU1osvg9w      2
27      93otbGHE0s0m-lU1osvg9w      2
28      93otbGHE0s0m-lU1osvg9w      2
29      93otbGHE0s0m-lU1osvg9w      2
...                        ...    ...
156005  7ummB6k1hmUgljgrzevM2w      2
156006  7ummB6k1hmUgljgrzevM2w      2
156007  7ummB6k1hmUgljgrzevM2w      2
156008  7ummB6k1hmUgljgrzevM2w      2
156009  7ummB6k1hmUgljgrzevM2w      2
156010  7ummB6k1hmUgljgrzevM2w      2
156011  7ummB6k1hmUgljgrzevM2w      2
156012  7ummB6k1hmUgljgrzevM2w      2
156013  7ummB6k1hmUgljgrzevM2w      2
156014  7ummB6k1hmUgljgrzevM2w      2
156015  7ummB6k1hmUgljgrzevM2w      2
156016  7ummB6k1hmUgljgrzevM2w      2
156017  7ummB6k1hmUgljgrzevM2w      2
156018  7ummB6k1hmUgljgrzevM2w      2
156019  7ummB6k1hmUgljgrzevM2w      2
156020  7ummB6k1hmUgljgrzevM2w      2
156021  7ummB6k1hmUgljgrzevM2w      2
156022  7ummB6k1hmUgljgrzevM2w      2
156023  7ummB6k1hmUgljgrzevM2w      2
156024  7ummB6k1hmUgljgrzevM2w      2
156025  7ummB6k1hmUgljgrzevM2w      2
156026  7ummB6k1hmUgljgrzevM2w      2
156027  ZZ8sAXHb0gX-c81Ea1M3OQ      1
156028  ZZ8sAXHb0gX-c81Ea1M3OQ      1
156029  ZZ8sAXHb0gX-c81Ea1M3OQ      1
156030  VqprK2mx2d6X3fufk5y58w      2
156031  VqprK2mx2d6X3fufk5y58w      2
156032  VqprK2mx2d6X3fufk5y58w      2
156033  VqprK2mx2d6X3fufk5y58w      2
156034  VqprK2mx2d6X3fufk5y58w      2

[156035 rows x 2 columns]

In [116]:
#Left Join of both df
business_data_Price = business_data.join(business_price, how = 'left', rsuffix='_bp')

In [121]:
years=[pd.to_datetime(row['date']).year for _, row in business_data_Price.iterrows()]

In [122]:
len(years)

176505

In [125]:
business_data_Price['Years'] = years
business_data_Price

,business_id,stars,attributes,date,useful,cool,funny,postal_code,business_id_bp,Price,Years
0,cnGIivYRLxpF7tBVR_JwWA,1,"['AcceptsInsurance: False', 'BusinessAcceptsCr...",2016-02-01,0,0,0,15071,cnGIivYRLxpF7tBVR_JwWA,3.0,2016
1,cnGIivYRLxpF7tBVR_JwWA,5,"['AcceptsInsurance: False', 'BusinessAcceptsCr...",2016-07-04,0,0,0,15071,cnGIivYRLxpF7tBVR_JwWA,3.0,2016
2,cnGIivYRLxpF7tBVR_JwWA,5,"['AcceptsInsurance: False', 'BusinessAcceptsCr...",2016-07-28,0,0,0,15071,cnGIivYRLxpF7tBVR_JwWA,3.0,2016
3,cnGIivYRLxpF7tBVR_JwWA,5,"['AcceptsInsurance: False', 'BusinessAcceptsCr...",2016-08-06,0,0,0,15071,cnGIivYRLxpF7tBVR_JwWA,3.0,2016
4,P3LisOj7DktgGa7C5FYpnA,1,['BusinessAcceptsCreditCards: True'],2015-09-19,4,0,0,15237,93otbGHE0s0m-lU1osvg9w,2.0,2015
5,P3LisOj7DktgGa7C5FYpnA,2,['BusinessAcceptsCreditCards: True'],2014-01-29,4,1,0,15237,93otbGHE0s0m-lU1osvg9w,2.0,2014
6,P3LisOj7DktgGa7C5FYpnA,3,['BusinessAcceptsCreditCards: True'],2016-12-05,0,0,0,15237,93otbGHE0s0m-lU1osvg9w,2.0,2016
7,P3LisOj7DktgGa7C5FYpnA,5,['BusinessAcceptsCreditCards: True'],2011-11-19,2,0,0,15237,93otbGHE0s0m-lU1osvg9w,2.0,2011
8,P3LisOj7DktgGa7C5FYpnA,5,['BusinessAcceptsCreditCards: True'],2013-10-05,0,0,0,15237,93otbGHE0s0m-lU1osvg9w,2.0,2013
9,P3LisOj7DktgGa7C5FYpnA,5,['BusinessAcceptsCreditCards: True'],2014-01-12,2,0,0,15237,93otbGHE0s0m-lU1osvg9w,2.0,2014
10,P3LisOj7DktgGa7C5FYpnA,5,['BusinessAcceptsCreditCards: True'],2015-03-20,1,0,0,15237,93otbGHE0s0m-lU1osvg9w,2.0,2015
11,P3LisOj7DktgGa7C5FYpnA,5,['BusinessAcceptsCreditCards: True'],2016-01-15,2,0,0,15237,93otbGHE0s0m-lU1osvg9w,2.0,2016
12,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2013-09-22,1,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2013
13,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2014-05-25,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2014
14,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2014-08-10,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2014
15,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2014-08-22,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2014
16,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2015-08-22,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2015
17,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2015-09-06,1,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2015
18,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2015-10-04,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2015
19,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2015-11-01,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2015
20,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2015-12-10,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2015
21,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-06-04,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2016
22,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-06-12,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2016
23,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-06-15,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2016
24,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-07-04,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2016
25,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-07-13,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2016
26,93otbGHE0s0m-lU1osvg9w,1,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2016-07-21,1,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2016
27,93otbGHE0s0m-lU1osvg9w,2,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2012-06-17,2,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2012
28,93otbGHE0s0m-lU1osvg9w,2,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2012-11-27,1,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2012
29,93otbGHE0s0m-lU1osvg9w,2,"['Alcohol: full_bar', ""Ambience: {'romantic': ...",2013-06-18,0,0,0,15212,93otbGHE0s0m-lU1osvg9w,2.0,2013
...,...,...,...,...,...,...,...,...,...,...,...
176475,VqprK2mx2d6X3fufk5y58w,5,"['AcceptsInsurance: False', 'BikeParking: True...",2016-10-18,0,0,0,15237,NaN,NaN,2016
176476,xh_ByBcQAU40VlbeqH-YkQ,1,None,2013-06-02,9,0,0,15237,NaN,NaN,2013
176477,xh_ByBcQAU40VlbeqH-YkQ,1,None,2016-03-22,5,0,0,15237,NaN,NaN,2016
176478,xh_ByBcQAU40VlbeqH-YkQ,1,None,2016-04-20,1,0,0,15237,NaN,NaN,2016
176479,xh_ByBcQAU40VlbeqH-YkQ,3,None,2015-02-13,3,1,0,15237,NaN,NaN,2015
176480,xh_ByBcQAU40VlbeqH-YkQ,3,None,2016-05-28,0,0,0,15237,NaN,NaN,2016
176481,xh_ByBcQAU40VlbeqH-YkQ,4,None,2014-03-08,1,0,0,15237,NaN,NaN,2014
176482,xh_ByBcQAU40VlbeqH-YkQ,4,None,2015-03-02,5,0,0,15237,NaN,NaN,2015
176483,xh_ByBcQAU40VlbeqH-YkQ,4,None,2015-11-22,2,0,0,15237,NaN,NaN,2015
176484,xh_ByBcQAU40VlbeqH-YkQ,4,None,2015-12-23,2,0,0,15237,NaN,NaN,2015
176485,xh_ByBcQAU40VlbeqH-YkQ,5,None,2010-08-31,3,0,0,15237,NaN,NaN,2010
176486,xh_ByBcQAU40VlbeqH-YkQ,5,None,2013-02-19,4,1,0,15237,NaN,NaN,2013
176487,xh_ByBcQAU40VlbeqH-YkQ,5,None,2014-02-07,0,0,0,15237,NaN,NaN,2014
176488,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-01-13,1,0,0,15237,NaN,NaN,2015
176489,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-02-07,0,0,0,15237,NaN,NaN,2015
176490,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-04-12,0,0,0,15237,NaN,NaN,2015
176491,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-04-18,0,0,0,15237,NaN,NaN,2015
176492,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-04-29,1,0,0,15237,NaN,NaN,2015
176493,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-06-14,1,0,0,15237,NaN,NaN,2015
176494,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-07-20,0,0,0,15237,NaN,NaN,2015
176495,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-09-25,0,0,0,15237,NaN,NaN,2015
176496,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-11-01,1,0,0,15237,NaN,NaN,2015
176497,xh_ByBcQAU40VlbeqH-YkQ,5,None,2015-11-03,4,1,0,15237,NaN,NaN,2015
176498,xh_ByBcQAU40VlbeqH-YkQ,5,None,2016-01-05,4,2,0,15237,NaN,NaN,2016
176499,xh_ByBcQAU40VlbeqH-YkQ,5,None,2016-04-17,0,0,0,15237,NaN,NaN,2016
176500,xh_ByBcQAU40VlbeqH-YkQ,5,None,2016-08-16,1,2,0,15237,NaN,NaN,2016
176501,xh_ByBcQAU40VlbeqH-YkQ,5,None,2016-08-21,6,3,0,15237,NaN,NaN,2016
176502,wZEMd6KoSOm2hPOB2vAeNg,5,None,2013-09-09,0,0,0,15116,NaN,NaN,2013
176503,wZEMd6KoSOm2hPOB2vAeNg,5,None,2013-12-16,1,1,0,15116,NaN,NaN,2013
176504,wZEMd6KoSOm2hPOB2vAeNg,5,None,2015-07-09,0,0,0,15116,NaN,NaN,2015

In [134]:
zip_matrix = business_data_Price[['postal_code', 'Years', 'stars', 'useful', 'funny', 'cool', 'Price']]
stars = zip_matrix.stars
zip_matrix = pd.get_dummies(zip_matrix, columns = ["stars"])
zip_matrix['stars'] = stars
zip_matrix

,postal_code,Years,useful,funny,cool,Price,stars_1,stars_2,stars_3,stars_4,stars_5,stars
0,15071,2016,0,0,0,3.0,1.0,0.0,0.0,0.0,0.0,1
1,15071,2016,0,0,0,3.0,0.0,0.0,0.0,0.0,1.0,5
2,15071,2016,0,0,0,3.0,0.0,0.0,0.0,0.0,1.0,5
3,15071,2016,0,0,0,3.0,0.0,0.0,0.0,0.0,1.0,5
4,15237,2015,4,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
5,15237,2014,4,0,1,2.0,0.0,1.0,0.0,0.0,0.0,2
6,15237,2016,0,0,0,2.0,0.0,0.0,1.0,0.0,0.0,3
7,15237,2011,2,0,0,2.0,0.0,0.0,0.0,0.0,1.0,5
8,15237,2013,0,0,0,2.0,0.0,0.0,0.0,0.0,1.0,5
9,15237,2014,2,0,0,2.0,0.0,0.0,0.0,0.0,1.0,5
10,15237,2015,1,0,0,2.0,0.0,0.0,0.0,0.0,1.0,5
11,15237,2016,2,0,0,2.0,0.0,0.0,0.0,0.0,1.0,5
12,15212,2013,1,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
13,15212,2014,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
14,15212,2014,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
15,15212,2014,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
16,15212,2015,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
17,15212,2015,1,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
18,15212,2015,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
19,15212,2015,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
20,15212,2015,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
21,15212,2016,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
22,15212,2016,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
23,15212,2016,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
24,15212,2016,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
25,15212,2016,0,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
26,15212,2016,1,0,0,2.0,1.0,0.0,0.0,0.0,0.0,1
27,15212,2012,2,0,0,2.0,0.0,1.0,0.0,0.0,0.0,2
28,15212,2012,1,0,0,2.0,0.0,1.0,0.0,0.0,0.0,2
29,15212,2013,0,0,0,2.0,0.0,1.0,0.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
176475,15237,2016,0,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176476,15237,2013,9,0,0,NaN,1.0,0.0,0.0,0.0,0.0,1
176477,15237,2016,5,0,0,NaN,1.0,0.0,0.0,0.0,0.0,1
176478,15237,2016,1,0,0,NaN,1.0,0.0,0.0,0.0,0.0,1
176479,15237,2015,3,0,1,NaN,0.0,0.0,1.0,0.0,0.0,3
176480,15237,2016,0,0,0,NaN,0.0,0.0,1.0,0.0,0.0,3
176481,15237,2014,1,0,0,NaN,0.0,0.0,0.0,1.0,0.0,4
176482,15237,2015,5,0,0,NaN,0.0,0.0,0.0,1.0,0.0,4
176483,15237,2015,2,0,0,NaN,0.0,0.0,0.0,1.0,0.0,4
176484,15237,2015,2,0,0,NaN,0.0,0.0,0.0,1.0,0.0,4
176485,15237,2010,3,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176486,15237,2013,4,0,1,NaN,0.0,0.0,0.0,0.0,1.0,5
176487,15237,2014,0,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176488,15237,2015,1,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176489,15237,2015,0,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176490,15237,2015,0,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176491,15237,2015,0,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176492,15237,2015,1,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176493,15237,2015,1,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176494,15237,2015,0,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176495,15237,2015,0,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176496,15237,2015,1,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176497,15237,2015,4,0,1,NaN,0.0,0.0,0.0,0.0,1.0,5
176498,15237,2016,4,0,2,NaN,0.0,0.0,0.0,0.0,1.0,5
176499,15237,2016,0,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176500,15237,2016,1,0,2,NaN,0.0,0.0,0.0,0.0,1.0,5
176501,15237,2016,6,0,3,NaN,0.0,0.0,0.0,0.0,1.0,5
176502,15116,2013,0,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5
176503,15116,2013,1,0,1,NaN,0.0,0.0,0.0,0.0,1.0,5
176504,15116,2015,0,0,0,NaN,0.0,0.0,0.0,0.0,1.0,5

In [138]:
zip_aggregated = zip_matrix.groupby(['postal_code', 'Years']).agg(pd.Series.mean)
zip_aggregated

                     useful     funny      cool     Price   stars_1   stars_2  \
postal_code Years
15003       2008   2.000000  0.500000  2.000000  3.000000  0.000000  0.000000
            2009   0.500000  0.000000  0.500000  2.000000  0.000000  0.000000
            2010   1.625000  0.375000  0.375000  2.500000  0.000000  0.000000
            2011   1.200000  0.200000  0.466667  2.500000  0.066667  0.000000
            2012   1.800000  0.450000  0.800000  2.066667  0.150000  0.100000
            2013   0.840000  0.560000  0.640000  2.000000  0.080000  0.120000
            2014   0.764706  0.176471  0.205882  2.217391  0.058824  0.029412
            2015   0.901639  0.327869  0.475410  2.311111  0.098361  0.049180
            2016   0.319444  0.083333  0.194444  1.949153  0.041667  0.041667
            2017   0.000000  0.000000  0.000000  2.666667  0.000000  0.250000
15009       2014   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15012       2015   0.333333  0.000000  0.000000  1.000000  0.000000  0.000000
15015       2011   1.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  0.500000  1.000000  1.500000  0.000000  0.000000
            2013   0.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2014   0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.500000  0.500000  0.000000  1.000000  0.500000  0.000000
15017       2007   1.750000  0.250000  0.250000  1.750000  0.000000  0.000000
            2008   0.666667  0.000000  0.000000  1.333333  0.000000  0.333333
            2009   1.833333  1.166667  0.916667  1.750000  0.166667  0.250000
            2010   1.074074  0.296296  0.296296  1.703704  0.074074  0.037037
            2011   1.276316  0.434211  0.500000  1.697368  0.144737  0.078947
            2012   1.239130  0.405797  0.318841  1.681159  0.137681  0.101449
            2013   1.175214  0.337607  0.320513  1.884615  0.153846  0.145299
            2014   0.977528  0.202247  0.288390  1.812734  0.198502  0.082397
            2015   0.666667  0.139089  0.263789  1.815348  0.179856  0.103118
            2016   0.536545  0.139535  0.272425  1.785714  0.191030  0.131229
...                     ...       ...       ...       ...       ...       ...
15321       2014   0.923077  0.115385  0.346154  2.000000  0.115385  0.038462
            2015   2.903226  1.838710  2.516129  1.870968  0.032258  0.032258
            2016   0.271186  0.016949  0.101695  1.949153  0.033898  0.016949
            2017   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
15332       2006   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2010   9.000000  3.000000  9.000000  2.000000  0.000000  0.000000
            2011   1.500000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   1.000000  0.428571  0.571429  2.000000  0.000000  0.000000
            2013   0.875000  0.000000  0.125000  1.500000  0.250000  0.000000
            2014   1.687500  0.375000  1.000000  1.875000  0.000000  0.062500
            2015   0.360000  0.000000  0.120000  1.695652  0.080000  0.280000
            2016   0.166667  0.000000  0.055556  1.529412  0.055556  0.166667
            2017   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15339       2011   2.000000  0.500000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  1.000000  0.000000  2.000000  0.000000  0.000000
            2013   0.000000  0.500000  0.500000  2.000000  0.000000  0.500000
            2014   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  0.166667  0.000000
15342       2011   1.500000  0.000000  0.000000  1.500000  0.000000  0.000000
            2012   1.111111  0.111111  0.000000  1.000000  0.111111  0.555556
            2013   0.692308  0.000000  0.000000  1.076923  0.384615  0.230769
            2014   0.375000  0.250000  0.250000  1.250000  0.000000  0.250000
            2015   0.642857  0.142857  0.142857  1.642857  0.214286  0.071429
            2016   0.300000  0.000000  0.300000  1.700000  0.100000  0.000000
15367       2012   0.666667  1.000000  0.000000  1.000000  0.333333  0.000000
            2013   0.500000  0.125000  0.125000  1.875000  0.375000  0.000000
            2014   0.500000  0.100000  0.000000  2.000000  0.000000  0.200000
            2015   0.545455  0.090909  0.000000  1.888889  0.000000  0.090909
            2016   0.058824  0.000000  0.000000  1.666667  0.058824  0.000000

                    stars_3   stars_4   stars_5     stars
postal_code Years
15003       2008   0.000000  0.500000  0.500000  4.500000
            2009   0.000000  0.500000  0.500000  4.500000
            2010   0.125000  0.500000  0.375000  4.250000
            2011   0.066667  0.133333  0.733333  4.466667
            2012   0.050000  0.300000  0.400000  3.700000
            2013   0.040000  0.320000  0.440000  3.920000
            2014   0.058824  0.147059  0.705882  4.411765
            2015   0.032787  0.131148  0.688525  4.262295
            2016   0.055556  0.236111  0.625000  4.361111
            2017   0.000000  0.750000  0.000000  3.500000
15009       2014   0.000000  0.000000  1.000000  5.000000
            2015   0.000000  0.000000  0.000000  1.000000
            2016   0.000000  0.000000  0.000000  1.000000
15012       2015   0.000000  0.000000  1.000000  5.000000
15015       2011   0.000000  0.000000  1.000000  5.000000
            2012   0.000000  0.500000  0.500000  4.500000
            2013   0.000000  0.000000  1.000000  5.000000
            2014   0.000000  0.000000  1.000000  5.000000
            2015   0.000000  0.000000  0.000000  1.000000
            2016   0.000000  0.000000  0.500000  3.000000
15017       2007   0.500000  0.000000  0.500000  4.000000
            2008   0.000000  0.333333  0.333333  3.666667
            2009   0.333333  0.166667  0.083333  2.750000
            2010   0.370370  0.111111  0.407407  3.740741
            2011   0.276316  0.302632  0.197368  3.328947
            2012   0.202899  0.326087  0.231884  3.413043
            2013   0.132479  0.256410  0.311966  3.427350
            2014   0.123596  0.250936  0.344569  3.460674
            2015   0.143885  0.220624  0.352518  3.462830
            2016   0.101329  0.202658  0.373754  3.436877
...                     ...       ...       ...       ...
15321       2014   0.192308  0.192308  0.461538  3.846154
            2015   0.000000  0.290323  0.645161  4.483871
            2016   0.050847  0.169492  0.728814  4.542373
            2017   0.000000  1.000000  0.000000  4.000000
15332       2006   0.000000  0.000000  1.000000  5.000000
            2010   0.000000  0.000000  1.000000  5.000000
            2011   0.500000  0.000000  0.500000  4.000000
            2012   0.142857  0.571429  0.285714  4.142857
            2013   0.000000  0.625000  0.125000  3.375000
            2014   0.062500  0.312500  0.562500  4.375000
            2015   0.080000  0.200000  0.360000  3.480000
            2016   0.111111  0.111111  0.555556  3.944444
            2017   0.000000  0.000000  0.000000  1.000000
15339       2011   0.000000  1.000000  0.000000  4.000000
            2012   0.000000  1.000000  0.000000  4.000000
            2013   0.000000  0.500000  0.000000  3.000000
            2014   0.000000  1.000000  0.000000  4.000000
            2015   1.000000  0.000000  0.000000  3.000000
            2016   0.000000  0.333333  0.500000  4.000000
15342       2011   0.000000  0.750000  0.250000  4.250000
            2012   0.111111  0.111111  0.111111  2.555556
            2013   0.076923  0.230769  0.076923  2.384615
            2014   0.000000  0.625000  0.125000  3.625000
            2015   0.214286  0.285714  0.214286  3.214286
            2016   0.100000  0.200000  0.600000  4.200000
15367       2012   0.000000  0.333333  0.333333  3.333333
            2013   0.000000  0.125000  0.500000  3.375000
            2014   0.100000  0.600000  0.100000  3.600000
            2015   0.090909  0.181818  0.636364  4.363636
            2016   0.117647  0.117647  0.705882  4.411765

[1030 rows x 10 columns]

pandas.core.frame.DataFrame

In [143]:
#business_price_zip = business_price.join(business_data, how = "inner", rsuffix="_bp")
business_price_zip = business_data_Price[['business_id','Price', 'postal_code', 'Years']].drop_duplicates()
price_zip = business_price_zip[['postal_code', 'Price', 'Years']]
price_zip

       postal_code  Price  Years
0            15071    3.0   2016
4            15237    2.0   2015
5            15237    2.0   2014
6            15237    2.0   2016
7            15237    2.0   2011
8            15237    2.0   2013
12           15212    2.0   2013
13           15212    2.0   2014
16           15212    2.0   2015
21           15212    2.0   2016
27           15212    2.0   2012
43           15212    2.0   2010
44           15212    2.0   2011
95           15212    2.0   2017
106          15212    4.0   2016
107          15212    4.0   2011
108          15212    4.0   2013
114          15220    2.0   2015
115          15220    2.0   2016
119          15223    1.0   2014
121          15223    1.0   2015
124          15223    1.0   2016
127          15223    1.0   2012
133          15223    1.0   2013
140          15223    1.0   2017
142          15223    1.0   2011
154          15223    1.0   2010
157          15213    1.0   2016
158          15213    1.0   2014
159          15213    1.0   2015
...            ...    ...    ...
176404       15108    NaN   2016
176405       15108    NaN   2010
176413       15108    NaN   2014
176415       15108    NaN   2015
176418       15108    NaN   2008
176419       15317    NaN   2016
176420       15317    NaN   2013
176422       15317    NaN   2010
176423       15317    NaN   2011
176424       15317    NaN   2012
176425       15317    NaN   2015
176436       15317    NaN   2009
176441       15317    NaN   2014
176464       15317    NaN   2016
176465       15317    NaN   2012
176466       15317    NaN   2014
176467       15237    NaN   2011
176468       15237    NaN   2012
176469       15237    NaN   2013
176470       15237    NaN   2016
176471       15237    NaN   2014
176472       15237    NaN   2015
176474       15237    NaN   2016
176476       15237    NaN   2013
176477       15237    NaN   2016
176479       15237    NaN   2015
176481       15237    NaN   2014
176485       15237    NaN   2010
176502       15116    NaN   2013
176504       15116    NaN   2015

[38406 rows x 3 columns]

In [144]:
average_price_zip = price_zip.groupby(['postal_code','Years']).agg(pd.Series.mean)

In [145]:
average_price_zip

                      Price
postal_code Years
15003       2008   3.000000
            2009   2.000000
            2010   2.400000
            2011   2.400000
            2012   2.111111
            2013   1.888889
            2014   2.071429
            2015   2.076923
            2016   2.117647
            2017   2.666667
15009       2014   2.000000
            2015   2.000000
            2016   2.000000
15012       2015   1.000000
15015       2011   2.000000
            2012   1.500000
            2013   2.000000
            2014   1.000000
            2015   2.000000
            2016   1.000000
15017       2007   1.750000
            2008   1.500000
            2009   1.818182
            2010   1.800000
            2011   1.650000
            2012   1.682540
            2013   1.814286
            2014   1.773810
            2015   1.773585
            2016   1.750000
...                     ...
15321       2014   2.000000
            2015   1.600000
            2016   1.714286
            2017   2.000000
15332       2006   2.000000
            2010   2.000000
            2011   2.000000
            2012   2.000000
            2013   1.500000
            2014   1.750000
            2015   1.666667
            2016   1.571429
            2017   2.000000
15339       2011   2.000000
            2012   2.000000
            2013   2.000000
            2014   2.000000
            2015   2.000000
            2016   2.000000
15342       2011   1.666667
            2012   1.000000
            2013   1.250000
            2014   1.250000
            2015   1.833333
            2016   1.833333
15367       2012   1.000000
            2013   1.500000
            2014   2.000000
            2015   1.500000
            2016   1.500000

[1030 rows x 1 columns]

In [146]:
zip_aggregated['Price'] = average_price_zip

In [147]:
zip_aggregated

                     useful     funny      cool     Price   stars_1   stars_2  \
postal_code Years
15003       2008   2.000000  0.500000  2.000000  3.000000  0.000000  0.000000
            2009   0.500000  0.000000  0.500000  2.000000  0.000000  0.000000
            2010   1.625000  0.375000  0.375000  2.400000  0.000000  0.000000
            2011   1.200000  0.200000  0.466667  2.400000  0.066667  0.000000
            2012   1.800000  0.450000  0.800000  2.111111  0.150000  0.100000
            2013   0.840000  0.560000  0.640000  1.888889  0.080000  0.120000
            2014   0.764706  0.176471  0.205882  2.071429  0.058824  0.029412
            2015   0.901639  0.327869  0.475410  2.076923  0.098361  0.049180
            2016   0.319444  0.083333  0.194444  2.117647  0.041667  0.041667
            2017   0.000000  0.000000  0.000000  2.666667  0.000000  0.250000
15009       2014   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15012       2015   0.333333  0.000000  0.000000  1.000000  0.000000  0.000000
15015       2011   1.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  0.500000  1.000000  1.500000  0.000000  0.000000
            2013   0.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2014   0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.500000  0.500000  0.000000  1.000000  0.500000  0.000000
15017       2007   1.750000  0.250000  0.250000  1.750000  0.000000  0.000000
            2008   0.666667  0.000000  0.000000  1.500000  0.000000  0.333333
            2009   1.833333  1.166667  0.916667  1.818182  0.166667  0.250000
            2010   1.074074  0.296296  0.296296  1.800000  0.074074  0.037037
            2011   1.276316  0.434211  0.500000  1.650000  0.144737  0.078947
            2012   1.239130  0.405797  0.318841  1.682540  0.137681  0.101449
            2013   1.175214  0.337607  0.320513  1.814286  0.153846  0.145299
            2014   0.977528  0.202247  0.288390  1.773810  0.198502  0.082397
            2015   0.666667  0.139089  0.263789  1.773585  0.179856  0.103118
            2016   0.536545  0.139535  0.272425  1.750000  0.191030  0.131229
...                     ...       ...       ...       ...       ...       ...
15321       2014   0.923077  0.115385  0.346154  2.000000  0.115385  0.038462
            2015   2.903226  1.838710  2.516129  1.600000  0.032258  0.032258
            2016   0.271186  0.016949  0.101695  1.714286  0.033898  0.016949
            2017   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
15332       2006   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2010   9.000000  3.000000  9.000000  2.000000  0.000000  0.000000
            2011   1.500000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   1.000000  0.428571  0.571429  2.000000  0.000000  0.000000
            2013   0.875000  0.000000  0.125000  1.500000  0.250000  0.000000
            2014   1.687500  0.375000  1.000000  1.750000  0.000000  0.062500
            2015   0.360000  0.000000  0.120000  1.666667  0.080000  0.280000
            2016   0.166667  0.000000  0.055556  1.571429  0.055556  0.166667
            2017   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15339       2011   2.000000  0.500000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  1.000000  0.000000  2.000000  0.000000  0.000000
            2013   0.000000  0.500000  0.500000  2.000000  0.000000  0.500000
            2014   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  0.166667  0.000000
15342       2011   1.500000  0.000000  0.000000  1.666667  0.000000  0.000000
            2012   1.111111  0.111111  0.000000  1.000000  0.111111  0.555556
            2013   0.692308  0.000000  0.000000  1.250000  0.384615  0.230769
            2014   0.375000  0.250000  0.250000  1.250000  0.000000  0.250000
            2015   0.642857  0.142857  0.142857  1.833333  0.214286  0.071429
            2016   0.300000  0.000000  0.300000  1.833333  0.100000  0.000000
15367       2012   0.666667  1.000000  0.000000  1.000000  0.333333  0.000000
            2013   0.500000  0.125000  0.125000  1.500000  0.375000  0.000000
            2014   0.500000  0.100000  0.000000  2.000000  0.000000  0.200000
            2015   0.545455  0.090909  0.000000  1.500000  0.000000  0.090909
            2016   0.058824  0.000000  0.000000  1.500000  0.058824  0.000000

                    stars_3   stars_4   stars_5     stars
postal_code Years
15003       2008   0.000000  0.500000  0.500000  4.500000
            2009   0.000000  0.500000  0.500000  4.500000
            2010   0.125000  0.500000  0.375000  4.250000
            2011   0.066667  0.133333  0.733333  4.466667
            2012   0.050000  0.300000  0.400000  3.700000
            2013   0.040000  0.320000  0.440000  3.920000
            2014   0.058824  0.147059  0.705882  4.411765
            2015   0.032787  0.131148  0.688525  4.262295
            2016   0.055556  0.236111  0.625000  4.361111
            2017   0.000000  0.750000  0.000000  3.500000
15009       2014   0.000000  0.000000  1.000000  5.000000
            2015   0.000000  0.000000  0.000000  1.000000
            2016   0.000000  0.000000  0.000000  1.000000
15012       2015   0.000000  0.000000  1.000000  5.000000
15015       2011   0.000000  0.000000  1.000000  5.000000
            2012   0.000000  0.500000  0.500000  4.500000
            2013   0.000000  0.000000  1.000000  5.000000
            2014   0.000000  0.000000  1.000000  5.000000
            2015   0.000000  0.000000  0.000000  1.000000
            2016   0.000000  0.000000  0.500000  3.000000
15017       2007   0.500000  0.000000  0.500000  4.000000
            2008   0.000000  0.333333  0.333333  3.666667
            2009   0.333333  0.166667  0.083333  2.750000
            2010   0.370370  0.111111  0.407407  3.740741
            2011   0.276316  0.302632  0.197368  3.328947
            2012   0.202899  0.326087  0.231884  3.413043
            2013   0.132479  0.256410  0.311966  3.427350
            2014   0.123596  0.250936  0.344569  3.460674
            2015   0.143885  0.220624  0.352518  3.462830
            2016   0.101329  0.202658  0.373754  3.436877
...                     ...       ...       ...       ...
15321       2014   0.192308  0.192308  0.461538  3.846154
            2015   0.000000  0.290323  0.645161  4.483871
            2016   0.050847  0.169492  0.728814  4.542373
            2017   0.000000  1.000000  0.000000  4.000000
15332       2006   0.000000  0.000000  1.000000  5.000000
            2010   0.000000  0.000000  1.000000  5.000000
            2011   0.500000  0.000000  0.500000  4.000000
            2012   0.142857  0.571429  0.285714  4.142857
            2013   0.000000  0.625000  0.125000  3.375000
            2014   0.062500  0.312500  0.562500  4.375000
            2015   0.080000  0.200000  0.360000  3.480000
            2016   0.111111  0.111111  0.555556  3.944444
            2017   0.000000  0.000000  0.000000  1.000000
15339       2011   0.000000  1.000000  0.000000  4.000000
            2012   0.000000  1.000000  0.000000  4.000000
            2013   0.000000  0.500000  0.000000  3.000000
            2014   0.000000  1.000000  0.000000  4.000000
            2015   1.000000  0.000000  0.000000  3.000000
            2016   0.000000  0.333333  0.500000  4.000000
15342       2011   0.000000  0.750000  0.250000  4.250000
            2012   0.111111  0.111111  0.111111  2.555556
            2013   0.076923  0.230769  0.076923  2.384615
            2014   0.000000  0.625000  0.125000  3.625000
            2015   0.214286  0.285714  0.214286  3.214286
            2016   0.100000  0.200000  0.600000  4.200000
15367       2012   0.000000  0.333333  0.333333  3.333333
            2013   0.000000  0.125000  0.500000  3.375000
            2014   0.100000  0.600000  0.100000  3.600000
            2015   0.090909  0.181818  0.636364  4.363636
            2016   0.117647  0.117647  0.705882  4.411765

[1030 rows x 10 columns]

In [166]:
average_reviews_zip = business_data_Price.groupby(['postal_code','Years']).agg(pd.Series.count)
average_reviews_zip = average_reviews_zip['business_id']

                   business_id  stars  attributes  date  useful  cool  funny  \
postal_code Years
15003       2008             2      2           2     2       2     2      2
            2009             2      2           2     2       2     2      2
            2010             8      8           8     8       8     8      8
            2011            15     15          15    15      15    15     15
            2012            20     20          18    20      20    20     20
            2013            25     25          23    25      25    25     25
            2014            34     34          30    34      34    34     34
            2015            61     61          56    61      61    61     61
            2016            72     72          71    72      72    72     72
            2017             4      4           4     4       4     4      4
15009       2014             1      1           0     1       1     1      1
            2015             1      1           0     1       1     1      1
            2016             1      1           0     1       1     1      1
15012       2015             3      3           3     3       3     3      3
15015       2011             1      1           1     1       1     1      1
            2012             2      2           2     2       2     2      2
            2013             1      1           1     1       1     1      1
            2014             1      1           1     1       1     1      1
            2015             1      1           1     1       1     1      1
            2016             2      2           2     2       2     2      2
15017       2007             4      4           4     4       4     4      4
            2008             3      3           3     3       3     3      3
            2009            12     12          12    12      12    12     12
            2010            27     27          26    27      27    27     27
            2011            76     76          75    76      76    76     76
            2012           138    138         137   138     138   138    138
            2013           234    234         232   234     234   234    234
            2014           267    267         261   267     267   267    267
            2015           417    417         406   417     417   417    417
            2016           602    602         579   602     602   602    602
...                        ...    ...         ...   ...     ...   ...    ...
15321       2014            26     26          26    26      26    26     26
            2015            31     31          31    31      31    31     31
            2016            59     59          59    59      59    59     59
            2017             1      1           1     1       1     1      1
15332       2006             1      1           1     1       1     1      1
            2010             1      1           1     1       1     1      1
            2011             2      2           2     2       2     2      2
            2012             7      7           7     7       7     7      7
            2013             8      8           8     8       8     8      8
            2014            16     16          16    16      16    16     16
            2015            25     25          25    25      25    25     25
            2016            18     18          18    18      18    18     18
            2017             1      1           1     1       1     1      1
15339       2011             2      2           2     2       2     2      2
            2012             1      1           1     1       1     1      1
            2013             2      2           2     2       2     2      2
            2014             1      1           1     1       1     1      1
            2015             1      1           1     1       1     1      1
            2016             6      6           6     6       6     6      6
15342       2011             4      4           4     4       4     4      4
            2012             9      9           9     9       9     9      9
            2013            13     13          13    13      13    13     13
            2014             8      8           8     8       8     8      8
            2015            14     14          14    14      14    14     14
            2016            10     10          10    10      10    10     10
15367       2012             3      3           3     3       3     3      3
            2013             8      8           8     8       8     8      8
            2014            10     10          10    10      10    10     10
            2015            11     11           9    11      11    11     11
            2016            17     17          15    17      17    17     17

                   business_id_bp  Price
postal_code Years
15003       2008                1    1.0
            2009                1    1.0
            2010                6    6.0
            2011               10   10.0
            2012               15   15.0
            2013               15   15.0
            2014               23   23.0
            2015               45   45.0
            2016               59   59.0
            2017                3    3.0
15009       2014                1    1.0
            2015                1    1.0
            2016                1    1.0
15012       2015                3    3.0
15015       2011                1    1.0
            2012                2    2.0
            2013                1    1.0
            2014                1    1.0
            2015                1    1.0
            2016                2    2.0
15017       2007                4    4.0
            2008                3    3.0
            2009               12   12.0
            2010               27   27.0
            2011               76   76.0
            2012              138  138.0
            2013              234  234.0
            2014              267  267.0
            2015              417  417.0
            2016              602  602.0
...                           ...    ...
15321       2014               26   26.0
            2015               31   31.0
            2016               59   59.0
            2017                1    1.0
15332       2006                1    1.0
            2010                1    1.0
            2011                2    2.0
            2012                7    7.0
            2013                8    8.0
            2014               16   16.0
            2015               23   23.0
            2016               17   17.0
            2017                1    1.0
15339       2011                2    2.0
            2012                1    1.0
            2013                2    2.0
            2014                1    1.0
            2015                1    1.0
            2016                6    6.0
15342       2011                4    4.0
            2012                9    9.0
            2013               13   13.0
            2014                8    8.0
            2015               14   14.0
            2016               10   10.0
15367       2012                1    1.0
            2013                8    8.0
            2014                9    9.0
            2015                9    9.0
            2016               15   15.0

[1030 rows x 9 columns]

In [200]:
review_byzip = business_data_Price.groupby(['postal_code', 'Years']).count()

In [199]:
total_reviews = business_data_Price.groupby(['Years']).count().business_id
total_reviews

31

In [212]:
review_byzip = review_byzip.reset_index()[['postal_code','Years','business_id']]
review_byzip

     postal_code  Years  business_id
0          15003   2008            2
1          15003   2009            2
2          15003   2010            8
3          15003   2011           15
4          15003   2012           20
5          15003   2013           25
6          15003   2014           34
7          15003   2015           61
8          15003   2016           72
9          15003   2017            4
10         15009   2014            1
11         15009   2015            1
12         15009   2016            1
13         15012   2015            3
14         15015   2011            1
15         15015   2012            2
16         15015   2013            1
17         15015   2014            1
18         15015   2015            1
19         15015   2016            2
20         15017   2007            4
21         15017   2008            3
22         15017   2009           12
23         15017   2010           27
24         15017   2011           76
25         15017   2012          138
26         15017   2013          234
27         15017   2014          267
28         15017   2015          417
29         15017   2016          602
...          ...    ...          ...
1000       15321   2014           26
1001       15321   2015           31
1002       15321   2016           59
1003       15321   2017            1
1004       15332   2006            1
1005       15332   2010            1
1006       15332   2011            2
1007       15332   2012            7
1008       15332   2013            8
1009       15332   2014           16
1010       15332   2015           25
1011       15332   2016           18
1012       15332   2017            1
1013       15339   2011            2
1014       15339   2012            1
1015       15339   2013            2
1016       15339   2014            1
1017       15339   2015            1
1018       15339   2016            6
1019       15342   2011            4
1020       15342   2012            9
1021       15342   2013           13
1022       15342   2014            8
1023       15342   2015           14
1024       15342   2016           10
1025       15367   2012            3
1026       15367   2013            8
1027       15367   2014           10
1028       15367   2015           11
1029       15367   2016           17

[1030 rows x 3 columns]

In [217]:
prop_reviews = [ float(review_byzip.ix[i]['business_id'])/total_reviews[review_byzip.ix[i]['Years']] for i in range(len(review_byzip))]

In [219]:
zip_aggregated['reviews_perc'] = prop_reviews

In [220]:
zip_aggregated

                     useful     funny      cool     Price   stars_1   stars_2  \
postal_code Years
15003       2008   2.000000  0.500000  2.000000  3.000000  0.000000  0.000000
            2009   0.500000  0.000000  0.500000  2.000000  0.000000  0.000000
            2010   1.625000  0.375000  0.375000  2.400000  0.000000  0.000000
            2011   1.200000  0.200000  0.466667  2.400000  0.066667  0.000000
            2012   1.800000  0.450000  0.800000  2.111111  0.150000  0.100000
            2013   0.840000  0.560000  0.640000  1.888889  0.080000  0.120000
            2014   0.764706  0.176471  0.205882  2.071429  0.058824  0.029412
            2015   0.901639  0.327869  0.475410  2.076923  0.098361  0.049180
            2016   0.319444  0.083333  0.194444  2.117647  0.041667  0.041667
            2017   0.000000  0.000000  0.000000  2.666667  0.000000  0.250000
15009       2014   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15012       2015   0.333333  0.000000  0.000000  1.000000  0.000000  0.000000
15015       2011   1.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  0.500000  1.000000  1.500000  0.000000  0.000000
            2013   0.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2014   0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.500000  0.500000  0.000000  1.000000  0.500000  0.000000
15017       2007   1.750000  0.250000  0.250000  1.750000  0.000000  0.000000
            2008   0.666667  0.000000  0.000000  1.500000  0.000000  0.333333
            2009   1.833333  1.166667  0.916667  1.818182  0.166667  0.250000
            2010   1.074074  0.296296  0.296296  1.800000  0.074074  0.037037
            2011   1.276316  0.434211  0.500000  1.650000  0.144737  0.078947
            2012   1.239130  0.405797  0.318841  1.682540  0.137681  0.101449
            2013   1.175214  0.337607  0.320513  1.814286  0.153846  0.145299
            2014   0.977528  0.202247  0.288390  1.773810  0.198502  0.082397
            2015   0.666667  0.139089  0.263789  1.773585  0.179856  0.103118
            2016   0.536545  0.139535  0.272425  1.750000  0.191030  0.131229
...                     ...       ...       ...       ...       ...       ...
15321       2014   0.923077  0.115385  0.346154  2.000000  0.115385  0.038462
            2015   2.903226  1.838710  2.516129  1.600000  0.032258  0.032258
            2016   0.271186  0.016949  0.101695  1.714286  0.033898  0.016949
            2017   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
15332       2006   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2010   9.000000  3.000000  9.000000  2.000000  0.000000  0.000000
            2011   1.500000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   1.000000  0.428571  0.571429  2.000000  0.000000  0.000000
            2013   0.875000  0.000000  0.125000  1.500000  0.250000  0.000000
            2014   1.687500  0.375000  1.000000  1.750000  0.000000  0.062500
            2015   0.360000  0.000000  0.120000  1.666667  0.080000  0.280000
            2016   0.166667  0.000000  0.055556  1.571429  0.055556  0.166667
            2017   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15339       2011   2.000000  0.500000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  1.000000  0.000000  2.000000  0.000000  0.000000
            2013   0.000000  0.500000  0.500000  2.000000  0.000000  0.500000
            2014   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  0.166667  0.000000
15342       2011   1.500000  0.000000  0.000000  1.666667  0.000000  0.000000
            2012   1.111111  0.111111  0.000000  1.000000  0.111111  0.555556
            2013   0.692308  0.000000  0.000000  1.250000  0.384615  0.230769
            2014   0.375000  0.250000  0.250000  1.250000  0.000000  0.250000
            2015   0.642857  0.142857  0.142857  1.833333  0.214286  0.071429
            2016   0.300000  0.000000  0.300000  1.833333  0.100000  0.000000
15367       2012   0.666667  1.000000  0.000000  1.000000  0.333333  0.000000
            2013   0.500000  0.125000  0.125000  1.500000  0.375000  0.000000
            2014   0.500000  0.100000  0.000000  2.000000  0.000000  0.200000
            2015   0.545455  0.090909  0.000000  1.500000  0.000000  0.090909
            2016   0.058824  0.000000  0.000000  1.500000  0.058824  0.000000

                    stars_3   stars_4   stars_5     stars  reviews_perc
postal_code Years
15003       2008   0.000000  0.500000  0.500000  4.500000      0.001061
            2009   0.000000  0.500000  0.500000  4.500000      0.000553
            2010   0.125000  0.500000  0.375000  4.250000      0.001275
            2011   0.066667  0.133333  0.733333  4.466667      0.001285
            2012   0.050000  0.300000  0.400000  3.700000      0.001196
            2013   0.040000  0.320000  0.440000  3.920000      0.001188
            2014   0.058824  0.147059  0.705882  4.411765      0.001180
            2015   0.032787  0.131148  0.688525  4.262295      0.001568
            2016   0.055556  0.236111  0.625000  4.361111      0.001638
            2017   0.000000  0.750000  0.000000  3.500000      0.001601
15009       2014   0.000000  0.000000  1.000000  5.000000      0.000035
            2015   0.000000  0.000000  0.000000  1.000000      0.000026
            2016   0.000000  0.000000  0.000000  1.000000      0.000023
15012       2015   0.000000  0.000000  1.000000  5.000000      0.000077
15015       2011   0.000000  0.000000  1.000000  5.000000      0.000086
            2012   0.000000  0.500000  0.500000  4.500000      0.000120
            2013   0.000000  0.000000  1.000000  5.000000      0.000048
            2014   0.000000  0.000000  1.000000  5.000000      0.000035
            2015   0.000000  0.000000  0.000000  1.000000      0.000026
            2016   0.000000  0.000000  0.500000  3.000000      0.000045
15017       2007   0.500000  0.000000  0.500000  4.000000      0.004717
            2008   0.000000  0.333333  0.333333  3.666667      0.001592
            2009   0.333333  0.166667  0.083333  2.750000      0.003318
            2010   0.370370  0.111111  0.407407  3.740741      0.004303
            2011   0.276316  0.302632  0.197368  3.328947      0.006513
            2012   0.202899  0.326087  0.231884  3.413043      0.008255
            2013   0.132479  0.256410  0.311966  3.427350      0.011119
            2014   0.123596  0.250936  0.344569  3.460674      0.009267
            2015   0.143885  0.220624  0.352518  3.462830      0.010716
            2016   0.101329  0.202658  0.373754  3.436877      0.013693
...                     ...       ...       ...       ...           ...
15321       2014   0.192308  0.192308  0.461538  3.846154      0.000902
            2015   0.000000  0.290323  0.645161  4.483871      0.000797
            2016   0.050847  0.169492  0.728814  4.542373      0.001342
            2017   0.000000  1.000000  0.000000  4.000000      0.000400
15332       2006   0.000000  0.000000  1.000000  5.000000      0.004367
            2010   0.000000  0.000000  1.000000  5.000000      0.000159
            2011   0.500000  0.000000  0.500000  4.000000      0.000171
            2012   0.142857  0.571429  0.285714  4.142857      0.000419
            2013   0.000000  0.625000  0.125000  3.375000      0.000380
            2014   0.062500  0.312500  0.562500  4.375000      0.000555
            2015   0.080000  0.200000  0.360000  3.480000      0.000642
            2016   0.111111  0.111111  0.555556  3.944444      0.000409
            2017   0.000000  0.000000  0.000000  1.000000      0.000400
15339       2011   0.000000  1.000000  0.000000  4.000000      0.000171
            2012   0.000000  1.000000  0.000000  4.000000      0.000060
            2013   0.000000  0.500000  0.000000  3.000000      0.000095
            2014   0.000000  1.000000  0.000000  4.000000      0.000035
            2015   1.000000  0.000000  0.000000  3.000000      0.000026
            2016   0.000000  0.333333  0.500000  4.000000      0.000136
15342       2011   0.000000  0.750000  0.250000  4.250000      0.000343
            2012   0.111111  0.111111  0.111111  2.555556      0.000538
            2013   0.076923  0.230769  0.076923  2.384615      0.000618
            2014   0.000000  0.625000  0.125000  3.625000      0.000278
            2015   0.214286  0.285714  0.214286  3.214286      0.000360
            2016   0.100000  0.200000  0.600000  4.200000      0.000227
15367       2012   0.000000  0.333333  0.333333  3.333333      0.000179
            2013   0.000000  0.125000  0.500000  3.375000      0.000380
            2014   0.100000  0.600000  0.100000  3.600000      0.000347
            2015   0.090909  0.181818  0.636364  4.363636      0.000283
            2016   0.117647  0.117647  0.705882  4.411765      0.000387

[1030 rows x 11 columns]

In [249]:
flatten_zip = zip_aggregated.reset_index()
pd.to_numeric(flatten_zip[(flatten_zip['postal_code']=='15232')&(flatten_zip['Years']==2007)].stars)

791    3.923077
Name: stars, dtype: float64

In [253]:
avg_review_prev1 = [flatten_zip[(flatten_zip['postal_code']==flatten_zip.ix[i]['postal_code'])&(flatten_zip['Years']==(flatten_zip.ix[i]['Years']-1))]['stars'].values for i in range(len(flatten_zip))]

In [260]:
zip_aggregated['prev_stars'] = avg_review_prev1
zip_aggregated['prev_stars'] = zip_aggregated['prev_stars'].str.get(0)
zip_aggregated

                     useful     funny      cool     Price   stars_1   stars_2  \
postal_code Years
15003       2008   2.000000  0.500000  2.000000  3.000000  0.000000  0.000000
            2009   0.500000  0.000000  0.500000  2.000000  0.000000  0.000000
            2010   1.625000  0.375000  0.375000  2.400000  0.000000  0.000000
            2011   1.200000  0.200000  0.466667  2.400000  0.066667  0.000000
            2012   1.800000  0.450000  0.800000  2.111111  0.150000  0.100000
            2013   0.840000  0.560000  0.640000  1.888889  0.080000  0.120000
            2014   0.764706  0.176471  0.205882  2.071429  0.058824  0.029412
            2015   0.901639  0.327869  0.475410  2.076923  0.098361  0.049180
            2016   0.319444  0.083333  0.194444  2.117647  0.041667  0.041667
            2017   0.000000  0.000000  0.000000  2.666667  0.000000  0.250000
15009       2014   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15012       2015   0.333333  0.000000  0.000000  1.000000  0.000000  0.000000
15015       2011   1.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  0.500000  1.000000  1.500000  0.000000  0.000000
            2013   0.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2014   0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.500000  0.500000  0.000000  1.000000  0.500000  0.000000
15017       2007   1.750000  0.250000  0.250000  1.750000  0.000000  0.000000
            2008   0.666667  0.000000  0.000000  1.500000  0.000000  0.333333
            2009   1.833333  1.166667  0.916667  1.818182  0.166667  0.250000
            2010   1.074074  0.296296  0.296296  1.800000  0.074074  0.037037
            2011   1.276316  0.434211  0.500000  1.650000  0.144737  0.078947
            2012   1.239130  0.405797  0.318841  1.682540  0.137681  0.101449
            2013   1.175214  0.337607  0.320513  1.814286  0.153846  0.145299
            2014   0.977528  0.202247  0.288390  1.773810  0.198502  0.082397
            2015   0.666667  0.139089  0.263789  1.773585  0.179856  0.103118
            2016   0.536545  0.139535  0.272425  1.750000  0.191030  0.131229
...                     ...       ...       ...       ...       ...       ...
15321       2014   0.923077  0.115385  0.346154  2.000000  0.115385  0.038462
            2015   2.903226  1.838710  2.516129  1.600000  0.032258  0.032258
            2016   0.271186  0.016949  0.101695  1.714286  0.033898  0.016949
            2017   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
15332       2006   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2010   9.000000  3.000000  9.000000  2.000000  0.000000  0.000000
            2011   1.500000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   1.000000  0.428571  0.571429  2.000000  0.000000  0.000000
            2013   0.875000  0.000000  0.125000  1.500000  0.250000  0.000000
            2014   1.687500  0.375000  1.000000  1.750000  0.000000  0.062500
            2015   0.360000  0.000000  0.120000  1.666667  0.080000  0.280000
            2016   0.166667  0.000000  0.055556  1.571429  0.055556  0.166667
            2017   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15339       2011   2.000000  0.500000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  1.000000  0.000000  2.000000  0.000000  0.000000
            2013   0.000000  0.500000  0.500000  2.000000  0.000000  0.500000
            2014   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  0.166667  0.000000
15342       2011   1.500000  0.000000  0.000000  1.666667  0.000000  0.000000
            2012   1.111111  0.111111  0.000000  1.000000  0.111111  0.555556
            2013   0.692308  0.000000  0.000000  1.250000  0.384615  0.230769
            2014   0.375000  0.250000  0.250000  1.250000  0.000000  0.250000
            2015   0.642857  0.142857  0.142857  1.833333  0.214286  0.071429
            2016   0.300000  0.000000  0.300000  1.833333  0.100000  0.000000
15367       2012   0.666667  1.000000  0.000000  1.000000  0.333333  0.000000
            2013   0.500000  0.125000  0.125000  1.500000  0.375000  0.000000
            2014   0.500000  0.100000  0.000000  2.000000  0.000000  0.200000
            2015   0.545455  0.090909  0.000000  1.500000  0.000000  0.090909
            2016   0.058824  0.000000  0.000000  1.500000  0.058824  0.000000

                    stars_3   stars_4   stars_5     stars  reviews_perc  \
postal_code Years
15003       2008   0.000000  0.500000  0.500000  4.500000      0.001061
            2009   0.000000  0.500000  0.500000  4.500000      0.000553
            2010   0.125000  0.500000  0.375000  4.250000      0.001275
            2011   0.066667  0.133333  0.733333  4.466667      0.001285
            2012   0.050000  0.300000  0.400000  3.700000      0.001196
            2013   0.040000  0.320000  0.440000  3.920000      0.001188
            2014   0.058824  0.147059  0.705882  4.411765      0.001180
            2015   0.032787  0.131148  0.688525  4.262295      0.001568
            2016   0.055556  0.236111  0.625000  4.361111      0.001638
            2017   0.000000  0.750000  0.000000  3.500000      0.001601
15009       2014   0.000000  0.000000  1.000000  5.000000      0.000035
            2015   0.000000  0.000000  0.000000  1.000000      0.000026
            2016   0.000000  0.000000  0.000000  1.000000      0.000023
15012       2015   0.000000  0.000000  1.000000  5.000000      0.000077
15015       2011   0.000000  0.000000  1.000000  5.000000      0.000086
            2012   0.000000  0.500000  0.500000  4.500000      0.000120
            2013   0.000000  0.000000  1.000000  5.000000      0.000048
            2014   0.000000  0.000000  1.000000  5.000000      0.000035
            2015   0.000000  0.000000  0.000000  1.000000      0.000026
            2016   0.000000  0.000000  0.500000  3.000000      0.000045
15017       2007   0.500000  0.000000  0.500000  4.000000      0.004717
            2008   0.000000  0.333333  0.333333  3.666667      0.001592
            2009   0.333333  0.166667  0.083333  2.750000      0.003318
            2010   0.370370  0.111111  0.407407  3.740741      0.004303
            2011   0.276316  0.302632  0.197368  3.328947      0.006513
            2012   0.202899  0.326087  0.231884  3.413043      0.008255
            2013   0.132479  0.256410  0.311966  3.427350      0.011119
            2014   0.123596  0.250936  0.344569  3.460674      0.009267
            2015   0.143885  0.220624  0.352518  3.462830      0.010716
            2016   0.101329  0.202658  0.373754  3.436877      0.013693
...                     ...       ...       ...       ...           ...
15321       2014   0.192308  0.192308  0.461538  3.846154      0.000902
            2015   0.000000  0.290323  0.645161  4.483871      0.000797
            2016   0.050847  0.169492  0.728814  4.542373      0.001342
            2017   0.000000  1.000000  0.000000  4.000000      0.000400
15332       2006   0.000000  0.000000  1.000000  5.000000      0.004367
            2010   0.000000  0.000000  1.000000  5.000000      0.000159
            2011   0.500000  0.000000  0.500000  4.000000      0.000171
            2012   0.142857  0.571429  0.285714  4.142857      0.000419
            2013   0.000000  0.625000  0.125000  3.375000      0.000380
            2014   0.062500  0.312500  0.562500  4.375000      0.000555
            2015   0.080000  0.200000  0.360000  3.480000      0.000642
            2016   0.111111  0.111111  0.555556  3.944444      0.000409
            2017   0.000000  0.000000  0.000000  1.000000      0.000400
15339       2011   0.000000  1.000000  0.000000  4.000000      0.000171
            2012   0.000000  1.000000  0.000000  4.000000      0.000060
            2013   0.000000  0.500000  0.000000  3.000000      0.000095
            2014   0.000000  1.000000  0.000000  4.000000      0.000035
            2015   1.000000  0.000000  0.000000  3.000000      0.000026
            2016   0.000000  0.333333  0.500000  4.000000      0.000136
15342       2011   0.000000  0.750000  0.250000  4.250000      0.000343
            2012   0.111111  0.111111  0.111111  2.555556      0.000538
            2013   0.076923  0.230769  0.076923  2.384615      0.000618
            2014   0.000000  0.625000  0.125000  3.625000      0.000278
            2015   0.214286  0.285714  0.214286  3.214286      0.000360
            2016   0.100000  0.200000  0.600000  4.200000      0.000227
15367       2012   0.000000  0.333333  0.333333  3.333333      0.000179
            2013   0.000000  0.125000  0.500000  3.375000      0.000380
            2014   0.100000  0.600000  0.100000  3.600000      0.000347
            2015   0.090909  0.181818  0.636364  4.363636      0.000283
            2016   0.117647  0.117647  0.705882  4.411765      0.000387

                   prev_stars
postal_code Years
15003       2008          NaN
            2009     4.500000
            2010     4.500000
            2011     4.250000
            2012     4.466667
            2013     3.700000
            2014     3.920000
            2015     4.411765
            2016     4.262295
            2017     4.361111
15009       2014          NaN
            2015     5.000000
            2016     1.000000
15012       2015          NaN
15015       2011          NaN
            2012     5.000000
            2013     4.500000
            2014     5.000000
            2015     5.000000
            2016     1.000000
15017       2007          NaN
            2008     4.000000
            2009     3.666667
            2010     2.750000
            2011     3.740741
            2012     3.328947
            2013     3.413043
            2014     3.427350
            2015     3.460674
            2016     3.462830
...                       ...
15321       2014     4.153846
            2015     3.846154
            2016     4.483871
            2017     4.542373
15332       2006          NaN
            2010          NaN
            2011     5.000000
            2012     4.000000
            2013     4.142857
            2014     3.375000
            2015     4.375000
            2016     3.480000
            2017     3.944444
15339       2011          NaN
            2012     4.000000
            2013     4.000000
            2014     3.000000
            2015     4.000000
            2016     3.000000
15342       2011          NaN
            2012     4.250000
            2013     2.555556
            2014     2.384615
            2015     3.625000
            2016     3.214286
15367       2012          NaN
            2013     3.333333
            2014     3.375000
            2015     3.600000
            2016     4.363636

[1030 rows x 12 columns]

In [261]:
#save to pickle
import pickle
output_file = open("Feature_Matrix_onlyYelp.dat","wb")
pickle.dump(zip_aggregated, output_file)
output_file.close()

In [264]:
#Integrate Zillow
zip_price = pd.read_csv("../Data/Zip_MedianValuePerSqft_AllHomes.csv")

#Select only Pittsburgh
pittsburgh_data_price = zip_price[(zip_price.RegionName>=15000)&(zip_price.RegionName<15500)]

#Select the RegionName and the columns with year
pittsburgh_data_byYear = pd.concat([pittsburgh_data_price.ix[:,1], pittsburgh_data_price[pittsburgh_data_price.columns[7:]]], axis = 1)

#Melt the dataframe to transform the columns into rows
flat_zip = pd.melt(pittsburgh_data_byYear, id_vars="RegionName", var_name="Date", value_name="MedSqft")
flat_zip

       RegionName     Date  MedSqft
0           15301  1996-04     54.0
1           15237  1996-04     69.0
2           15108  1996-04     65.0
3           15068  1996-04     56.0
4           15235  1996-04     47.0
5           15317  1996-04     68.0
6           15221  1996-04     37.0
7           15206  1996-04     33.0
8           15401  1996-04     40.0
9           15001  1996-04     59.0
10          15212  1996-04     32.0
11          15236  1996-04     63.0
12          15146  1996-04     57.0
13          15227  1996-04     53.0
14          15102  1996-04     64.0
15          15217  1996-04     60.0
16          15010  1996-04     53.0
17          15213  1996-04      NaN
18          15210  1996-04     27.0
19          15205  1996-04     48.0
20          15216  1996-04     42.0
21          15044  1996-04     69.0
22          15202  1996-04     45.0
23          15101  1996-04     68.0
24          15136  1996-04     50.0
25          15132  1996-04     27.0
26          15106  1996-04     50.0
27          15122  1996-04     47.0
28          15120  1996-04     36.0
29          15090  1996-04     78.0
...           ...      ...      ...
37369       15027  2017-02    116.0
37370       15050  2017-02    131.0
37371       15142  2017-02    176.0
37372       15458  2017-02     70.0
37373       15486  2017-02    100.0
37374       15468  2017-02     55.0
37375       15438  2017-02     67.0
37376       15442  2017-02     54.0
37377       15437  2017-02    114.0
37378       15474  2017-02     58.0
37379       15034  2017-02     58.0
37380       15469  2017-02     97.0
37381       15479  2017-02     91.0
37382       15322  2017-02     67.0
37383       15043  2017-02    130.0
37384       15333  2017-02     88.0
37385       15480  2017-02     87.0
37386       15423  2017-02     85.0
37387       15360  2017-02    115.0
37388       15428  2017-02     78.0
37389       15321  2017-02    128.0
37390       15055  2017-02    114.0
37391       15019  2017-02    100.0
37392       15376  2017-02    100.0
37393       15345  2017-02     61.0
37394       15459  2017-02     97.0
37395       15340  2017-02    108.0
37396       15056  2017-02     76.0
37397       15015  2017-02    149.0
37398       15427  2017-02     70.0

[37399 rows x 3 columns]

In [265]:
#Extract only the years
years = [flat_zip.Date.ix[i].split('-')[0] for i in range(len(flat_zip))]

#Add to df
flat_zip['Years'] = years

#Select only these columns
flat_zip = flat_zip[['RegionName', 'Years', 'MedSqft']]

#Group by and aggregate by median
med_zip = flat_zip.groupby(['RegionName', 'Years']).median()

#Flatten the table
med_zip = med_zip.reset_index()
med_zip

      RegionName Years  MedSqft
0          15001  1996     61.0
1          15001  1997     62.0
2          15001  1998     65.0
3          15001  1999     67.0
4          15001  2000     69.0
5          15001  2001     73.0
6          15001  2002     75.5
7          15001  2003     76.5
8          15001  2004     81.0
9          15001  2005     84.5
10         15001  2006     85.0
11         15001  2007     84.0
12         15001  2008     87.0
13         15001  2009     81.5
14         15001  2010     86.0
15         15001  2011     86.0
16         15001  2012     87.0
17         15001  2013     90.5
18         15001  2014     93.0
19         15001  2015     94.0
20         15001  2016    102.5
21         15001  2017    103.0
22         15003  1996     41.0
23         15003  1997     42.0
24         15003  1998     43.0
25         15003  1999     46.0
26         15003  2000     47.0
27         15003  2001     50.0
28         15003  2002     51.0
29         15003  2003     51.0
...          ...   ...      ...
3248       15480  2010     69.0
3249       15480  2011     70.5
3250       15480  2012     74.0
3251       15480  2013     75.5
3252       15480  2014     73.5
3253       15480  2015     75.5
3254       15480  2016     80.5
3255       15480  2017     85.5
3256       15486  1996     43.0
3257       15486  1997     48.0
3258       15486  1998     51.0
3259       15486  1999     51.0
3260       15486  2000     53.0
3261       15486  2001     56.0
3262       15486  2002     58.5
3263       15486  2003     64.0
3264       15486  2004     67.5
3265       15486  2005     70.0
3266       15486  2006     70.0
3267       15486  2007     69.0
3268       15486  2008     67.0
3269       15486  2009     69.5
3270       15486  2010     76.5
3271       15486  2011     79.0
3272       15486  2012     82.0
3273       15486  2013     84.0
3274       15486  2014     82.5
3275       15486  2015     87.5
3276       15486  2016     92.0
3277       15486  2017     98.0

[3278 rows x 3 columns]

In [287]:
Med_price_sqft = [med_zip[(med_zip['RegionName']==int(flatten_zip.ix[i]['postal_code']))&(med_zip['Years']==str(flatten_zip.ix[i]['Years']))]['MedSqft'].values for i in range(len(flatten_zip))]

In [288]:
Med_price_sqft

[array([ 57.]),
 array([ 55.5]),
 array([ 57.5]),
 array([ 54.]),
 array([ 55.5]),
 array([ 57.]),
 array([ 57.]),
 array([ 58.]),
 array([ 65.]),
 array([ 66.]),
 array([ 104.5]),
 array([ 111.]),
 array([ 116.]),
 array([ 75.5]),
 array([ 117.]),
 array([ 115.5]),
 array([ 119.]),
 array([ 126.5]),
 array([ 133.]),
 array([ 143.5]),
 array([ 96.]),
 array([ 94.]),
 array([ 93.]),
 array([ 97.]),
 array([ 98.]),
 array([ 98.]),
 array([ 101.]),
 array([ 104.]),
 array([ 109.5]),
 array([ 115.5]),
 array([ 119.]),
 array([], dtype=float64),
 array([ 91.]),
 array([ 90.5]),
 array([ 91.]),
 array([ 92.]),
 array([ 96.5]),
 array([ 99.]),
 array([ 100.]),
 array([ 102.5]),
 array([ 54.5]),
 array([ 53.]),
 array([ 55.]),
 array([ 54.]),
 array([ 54.]),
 array([ 54.]),
 array([ 57.]),
 array([ 63.]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 48.5]),
 array([ 46.5]),
 array([ 50.]),
 array([ 51.5]),
 array([ 55.5]),
 array([ 58.]),
 array([ 47.]),
 array([ 45.]),
 array([ 44.]),
 array([ 45.]),
 array([ 47.]),
 array([ 49.5]),
 array([ 50.5]),
 array([ 76.]),
 array([ 77.]),
 array([ 76.]),
 array([ 78.]),
 array([ 79.]),
 array([ 82.]),
 array([ 85.]),
 array([ 91.5]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 103.5]),
 array([ 108.]),
 array([ 108.]),
 array([ 109.5]),
 array([ 110.5]),
 array([ 112.]),
 array([ 113.]),
 array([ 116.5]),
 array([ 123.]),
 array([ 128.]),
 array([ 134.5]),
 array([ 139.5]),
 array([ 38.]),
 array([ 36.]),
 array([ 38.]),
 array([ 38.]),
 array([ 39.5]),
 array([ 99.]),
 array([ 109.]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 109.]),
 array([ 112.]),
 array([ 62.]),
 array([ 62.]),
 array([ 66.]),
 array([ 66.]),
 array([ 67.]),
 array([ 63.5]),
 array([ 64.5]),
 array([ 65.]),
 array([ 68.]),
 array([ 76.]),
 array([ 76.5]),
 array([ 97.]),
 array([ 101.]),
 array([ 102.]),
 array([ 108.5]),
 array([ 112.5]),
 array([ 119.5]),
 array([ 70.5]),
 array([ 72.]),
 array([ 73.]),
 array([ 73.]),
 array([ 75.]),
 array([ 79.]),
 array([ 80.]),
 array([ 56.]),
 array([ 62.]),
 array([ 64.5]),
 array([ 67.]),
 array([ 67.]),
 array([ 67.5]),
 array([ 69.]),
 array([ 65.5]),
 array([ 82.]),
 array([ 79.5]),
 array([ 82.]),
 array([ 82.]),
 array([ 83.]),
 array([ 86.]),
 array([ 88.]),
 array([ 90.]),
 array([ 95.]),
 array([ 97.5]),
 array([ 95.5]),
 array([ 93.5]),
 array([ 98.5]),
 array([ 97.]),
 array([ 101.5]),
 array([ 105.5]),
 array([ 112.]),
 array([ 119.5]),
 array([ 122.5]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 100.]),
 array([ 100.]),
 array([ 104.]),
 array([ 105.]),
 array([ 105.5]),
 array([ 113.]),
 array([ 114.5]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 109.]),
 array([ 114.5]),
 array([ 113.]),
 array([ 113.5]),
 array([ 117.]),
 array([ 119.]),
 array([ 119.]),
 array([ 124.5]),
 array([ 130.5]),
 array([ 136.5]),
 array([ 143.]),
 array([ 147.5]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 103.]),
 array([ 102.]),
 array([ 101.]),
 array([ 106.]),
 array([ 108.]),
 array([ 108.]),
 array([ 112.5]),
 array([ 119.]),
 array([ 123.]),
 array([ 129.5]),
 array([ 135.]),
 array([ 94.]),
 array([ 94.]),
 array([ 95.]),
 array([ 99.]),
 array([ 99.]),
 array([ 98.]),
 array([ 102.5]),
 array([ 108.]),
 array([ 112.]),
 array([ 120.5]),
 array([ 123.5]),
 array([ 32.]),
 array([ 30.]),
 array([ 30.]),
 array([ 30.]),
 array([ 31.]),
 array([ 33.]),
 array([ 33.]),
 array([ 36.5]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 75.]),
 array([ 76.]),
 array([ 76.]),
 array([ 74.]),
 array([ 76.]),
 array([ 77.]),
 array([ 77.]),
 array([ 80.]),
 array([ 84.]),
 array([ 87.5]),
 array([ 95.5]),
 array([ 100.5]),
 array([ 94.]),
 array([ 96.5]),
 array([ 95.5]),
 array([ 95.5]),
 array([ 96.]),
 array([ 97.5]),
 array([ 98.]),
 array([ 101.5]),
 array([ 105.5]),
 array([ 111.]),
 array([ 118.5]),
 array([ 122.5]),
 array([ 43.]),
 array([ 41.]),
 array([ 39.]),
 array([ 38.]),
 array([ 37.]),
 array([ 40.]),
 array([ 41.]),
 array([ 44.5]),
 array([ 96.]),
 array([ 98.]),
 array([ 98.]),
 array([ 100.]),
 array([ 100.]),
 array([ 105.]),
 array([ 110.]),
 array([ 114.]),
 array([ 121.]),
 array([ 127.]),
 array([ 49.]),
 array([ 51.]),
 array([ 53.]),
 array([ 54.]),
 array([ 51.]),
 array([ 50.]),
 array([ 50.]),
 array([ 50.]),
 array([ 49.]),
 array([ 52.]),
 array([ 53.5]),
 array([ 56.5]),
 array([ 57.]),
 array([ 66.]),
 array([ 70.]),
 array([ 68.5]),
 array([ 66.]),
 array([ 66.]),
 array([ 66.]),
 array([ 66.]),
 array([ 68.]),
 array([ 67.]),
 array([ 68.]),
 array([ 72.5]),
 array([ 74.]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 91.]),
 array([ 92.]),
 array([ 93.]),
 array([ 91.]),
 array([ 94.5]),
 array([ 99.]),
 array([ 104.5]),
 array([ 112.5]),
 array([ 114.5]),
 array([ 95.]),
 array([ 97.]),
 array([ 95.]),
 array([ 98.5]),
 array([ 102.]),
 array([ 108.5]),
 array([ 116.5]),
 array([ 117.5]),
 array([ 70.]),
 array([ 70.]),
 array([ 69.5]),
 array([ 67.]),
 array([ 67.]),
 array([ 69.5]),
 array([ 73.]),
 array([ 76.]),
 array([ 34.]),
 array([ 33.5]),
 array([ 33.]),
 array([ 33.]),
 array([ 34.]),
 array([ 35.]),
 array([ 37.5]),
 array([ 38.5]),
 array([ 56.]),
 array([ 51.5]),
 array([ 50.]),
 array([ 52.5]),
 array([ 53.5]),
 array([ 59.]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 77.]),
 array([ 75.]),
 array([ 76.5]),
 array([ 80.]),
 array([ 83.]),
 array([ 71.5]),
 array([ 70.]),
 array([ 69.5]),
 array([ 69.]),
 array([ 70.]),
 array([ 70.]),
 array([ 75.]),
 array([ 86.]),
 array([ 88.5]),
 array([ 60.]),
 array([ 58.5]),
 array([ 57.]),
 array([ 57.]),
 array([ 59.5]),
 array([ 59.5]),
 array([ 64.]),
 array([ 64.]),
 array([ 89.5]),
 array([ 88.]),
 array([ 95.5]),
 array([ 97.]),
 array([ 95.5]),
 array([ 100.]),
 array([ 102.]),
 array([ 104.5]),
 array([ 111.]),
 array([ 119.5]),
 array([ 32.]),
 array([ 31.]),
 array([ 34.]),
 array([ 35.5]),
 array([ 148.]),
 array([ 151.]),
 array([ 149.]),
 array([ 149.]),
 array([ 154.5]),
 array([ 162.]),
 array([ 166.]),
 array([ 172.]),
 array([ 176.]),
 array([ 113.]),
 array([ 119.]),
 array([ 120.]),
 array([ 120.]),
 array([ 120.]),
 array([ 121.]),
 array([ 122.]),
 array([ 127.5]),
 array([ 133.]),
 array([ 138.]),
 array([ 146.]),
 array([ 150.5]),
 array([ 66.5]),
 array([ 65.]),
 array([ 63.]),
 array([ 63.5]),
 array([ 64.]),
 array([ 61.]),
 array([ 62.]),
 array([ 66.5]),
 array([ 69.5]),
 array([ 70.]),
 array([ 71.]),
 array([ 38.]),
 array([ 37.]),
 array([ 38.]),
 array([ 38.]),
 array([ 41.5]),
 array([ 87.5]),
 array([ 90.]),
 array([ 89.]),
 array([ 85.]),
 array([ 88.]),
 array([ 88.]),
 array([ 87.5]),
 array([ 88.]),
 array([ 91.5]),
 array([ 93.]),
 array([ 96.]),
 array([ 98.5]),
 array([ 65.]),
 array([ 64.]),
 array([ 61.]),
 array([ 60.]),
 array([ 59.]),
 array([ 57.]),
 array([ 57.5]),
 array([ 61.]),
 array([ 62.5]),
 array([ 67.5]),
 array([ 70.5]),
 array([ 32.]),
 array([ 30.]),
 array([ 29.]),
 array([ 29.]),
 array([ 29.5]),
 array([ 32.]),
 array([ 32.]),
 array([ 34.]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ 58.]),
 array([ 58.5]),
 array([ 58.]),
 array([ 58.5]),
 array([ 64.5]),
 array([ 73.]),
 array([ 88.]),
 array([ 93.]),
 array([ 65.]),
 array([ 66.]),
 array([ 63.]),
 array([ 68.]),
 array([ 67.5]),
 array([ 66.]),
 array([ 68.]),
 array([ 71.5]),
 array([ 75.]),
 array([ 80.5]),
 array([ 84.5]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ 79.]),
 array([ 80.]),
 array([ 79.]),
 array([ 81.5]),
 array([ 86.]),
 array([ 93.5]),
 array([ 106.5]),
 array([ 110.5]),
 array([ 42.]),
 array([ 40.]),
 array([ 38.]),
 array([ 38.5]),
 array([ 42.]),
 array([ 44.5]),
 array([ 47.]),
 array([ 75.]),
 array([ 75.5]),
 array([ 73.5]),
 array([ 75.5]),
 array([ 75.]),
 array([ 74.]),
 array([ 77.]),
 array([ 81.]),
 array([ 86.]),
 array([ 92.]),
 array([ 94.5]),
 array([ 45.]),
 array([ 48.]),
 array([ 49.]),
 array([ 52.5]),
 array([ 56.]),
 array([ 62.]),
 array([ 64.]),
 array([ 64.]),
 array([ 64.5]),
 array([ 72.]),
 array([ 86.5]),
 array([ 100.]),
 array([ 108.5]),
 array([ 49.]),
 array([ 50.]),
 array([ 50.]),
 array([ 49.]),
 array([ 48.5]),
 array([ 49.]),
 array([ 49.]),
 array([ 50.]),
 array([ 53.]),
 array([ 59.5]),
 array([ 62.]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 83.]),
 array([ 86.]),
 array([ 87.]),
 array([ 88.]),
 array([ 90.5]),
 array([ 94.5]),
 array([ 97.]),
 array([ 105.5]),
 array([ 111.]),
 array([ 38.]),
 array([ 35.5]),
 array([ 33.]),
 array([ 33.]),
 array([ 32.]),
 array([ 32.]),
 array([ 34.]),
 array([ 36.]),
 array([ 40.5]),
 array([ 41.]),
 array([ 46.]),
 array([ 51.]),
 array([ 51.]),
 array([ 51.]),
 array([ 51.]),
 array([ 49.]),
 array([ 49.]),
 array([ 52.]),
 array([ 54.5]),
 array([ 59.]),
 array([ 71.5]),
 array([ 74.5]),
 array([ 41.]),
 array([ 41.]),
 array([ 43.]),
 array([ 43.]),
 array([ 42.]),
 array([ 43.]),
 array([ 42.]),
 array([ 41.]),
 array([ 41.5]),
 array([ 45.]),
 array([ 49.]),
 array([ 53.]),
 array([ 55.5]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ 79.]),
 array([ 80.5]),
 array([ 79.]),
 array([ 81.5]),
 array([ 87.5]),
 array([ 96.]),
 array([ 110.]),
 array([ 116.5]),
 array([ 52.]),
 array([ 52.]),
 array([ 50.]),
 array([ 53.]),
 array([ 56.]),
 array([ 59.]),
 array([ 65.]),
 array([ 99.]),
 array([ 100.]),
 array([ 104.]),
 array([ 106.]),
 array([ 106.]),
 array([ 110.]),
 array([ 115.]),
 array([ 122.]),
 array([ 130.]),
 array([ 135.5]),
 array([ 62.]),
 array([ 64.5]),
 array([ 66.]),
 array([ 65.5]),
 array([ 69.5]),
 array([ 71.]),
 array([ 71.]),
 array([ 74.]),
 array([ 76.5]),
 array([ 80.5]),
 array([ 89.5]),
 array([ 94.5]),
 array([ 104.]),
 array([ 112.5]),
 array([ 112.]),
 array([ 118.]),
 array([ 119.]),
 array([ 119.5]),
 array([ 122.]),
 array([ 131.5]),
 array([ 141.]),
 array([ 150.]),
 array([ 166.5]),
 array([ 172.5]),
 array([ 60.]),
 array([ 64.]),
 array([ 64.]),
 array([ 65.]),
 array([ 69.]),
 array([ 72.]),
 array([ 70.]),
 array([ 71.5]),
 array([ 74.]),
 array([ 80.]),
 array([ 85.]),
 array([ 93.5]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 88.]),
 array([ 88.]),
 array([ 88.]),
 array([ 91.]),
 array([ 92.]),
 array([ 91.]),
 array([ 93.]),
 array([ 97.]),
 array([ 100.]),
 array([ 107.5]),
 array([ 111.5]),
 array([ 56.]),
 array([ 55.]),
 array([ 56.]),
 array([ 56.]),
 array([ 57.]),
 array([ 55.]),
 array([ 55.5]),
 array([ 57.]),
 array([ 59.]),
 array([ 63.5]),
 array([ 66.5]),
 array([ 140.]),
 array([ 138.]),
 array([ 146.]),
 array([ 147.5]),
 array([ 155.]),
 array([ 158.]),
 array([ 150.]),
 array([ 168.5]),
 array([ 184.]),
 array([ 199.5]),
 array([ 211.]),
 array([ 234.5]),
 array([ 234.]),
 array([ 68.]),
 array([ 68.]),
 array([ 69.]),
 array([ 68.]),
 array([ 70.]),
 array([ 73.5]),
 array([ 76.]),
 array([ 85.]),
 array([ 89.5]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ 54.]),
 array([ 55.]),
 array([ 54.]),
 array([ 57.5]),
 array([ 61.5]),
 array([ 70.5]),
 array([ 86.]),
 array([ 93.]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 62.]),
 array([ 62.5]),
 array([ 63.]),
 array([ 65.5]),
 array([ 66.]),
 array([ 65.]),
 array([ 69.]),
 array([ 71.]),
 array([ 74.5]),
 array([ 81.5]),
 array([ 85.5]),
 array([ 79.]),
 array([ 79.]),
 array([ 75.]),
 array([ 79.]),
 array([ 79.]),
 array([ 79.]),
 array([ 80.]),
 array([ 82.5]),
 array([ 86.5]),
 array([ 95.5]),
 array([ 99.5]),
 array([ 105.]),
 array([ 111.5]),
 array([ 110.5]),
 array([ 113.5]),
 array([ 115.5]),
 array([ 115.]),
 array([ 115.]),
 array([ 121.5]),
 array([ 129.5]),
 array([ 138.]),
 array([ 144.5]),
 array([ 151.]),
 array([ 86.]),
 array([ 87.]),
 array([ 89.]),
 array([ 91.5]),
 array([ 91.]),
 array([ 91.]),
 array([ 94.]),
 array([ 96.5]),
 array([ 100.]),
 array([ 107.]),
 array([ 111.5]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 115.]),
 array([ 120.5]),
 array([ 127.]),
 array([ 131.]),
 array([ 139.5]),
 array([ 144.5]),
 array([ 147.]),
 array([ 147.]),
 array([ 153.5]),
 array([ 163.5]),
 array([ 180.]),
 array([ 193.5]),
 array([ 200.5]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ nan]),
 array([ 57.]),
 array([ 55.]),
 array([ 53.5]),
 array([ 57.]),
 array([ 62.]),
 array([ 67.]),
 array([ 72.]),
 array([ 73.]),
 array([ 89.]),
 array([ 90.]),
 array([ 92.5]),
 array([ 91.]),
 array([ 91.]),
 array([ 92.5]),
 array([ 97.5]),
 array([ 102.]),
 array([ 109.]),
 array([ 113.5]),
 array([ 66.]),
 array([ 66.]),
 array([ 66.5]),
 array([ 63.]),
 array([ 63.]),
 array([ 64.]),
 array([ 61.]),
 array([ 61.]),
 array([ 64.5]),
 array([ 65.]),
 array([ 69.5]),
 array([ 71.5]),
 array([ 87.]),
 array([ 92.]),
 array([ 91.]),
 array([ 91.5]),
 array([ 95.]),
 array([ 94.]),
 array([ 94.]),
 array([ 96.]),
 array([ 99.5]),
 array([ 105.]),
 array([ 114.]),
 array([ 117.5]),
 array([ 98.]),
 array([ 101.]),
 array([ 102.]),
 array([ 101.]),
 array([ 106.]),
 array([ 107.]),
 array([ 107.5]),
 array([ 112.]),
 array([ 118.]),
 array([ 122.]),
 array([ 129.5]),
 array([ 135.]),
 array([ 123.5]),
 array([ 120.]),
 array([ 121.5]),
 array([ 128.]),
 array([ 128.]),
 array([ 126.]),
 array([ 132.5]),
 array([ 139.5]),
 array([ 145.]),
 array([ 151.]),
 array([ 159.5]),
 array([ 88.]),
 array([ 86.]),
 array([ 91.]),
 array([ 91.]),
 array([ 90.]),
 array([ 91.]),
 array([ 95.5]),
 array([ 101.]),
 array([ 104.]),
 array([ 109.]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 106.5]),
 array([ 109.]),
 array([ 112.]),
 array([ 111.]),
 array([ 111.5]),
 array([ 116.5]),
 array([ 123.]),
 array([ 130.5]),
 array([ 138.5]),
 array([ 144.]),
 array([ 112.]),
 array([ 110.5]),
 array([ 111.]),
 array([ 115.5]),
 array([ 122.5]),
 array([ 128.]),
 array([ 131.5]),
 array([ 138.]),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([ 91.5]),
 array([ 95.]),
 array([ 97.5]),
 array([ 103.5]),
 array([ 107.]),
 array([ 108.]),
 array([ 104.5]),
 array([ 106.]),
 array([ 105.]),
 array([ 105.]),
 array([ 108.]),
 array([ 109.]),
 array([ 114.5]),
 array([ 116.]),
 array([ 123.]),
 array([ 126.]),
 array([ 129.]),
 array([ 130.5]),
 array([ 94.]),
 array([ 101.]),
 array([ 102.]),
 array([ 108.5]),
 array([ 111.]),
 ...]

In [289]:
zip_aggregated['MedPrice_sqft'] = Med_price_sqft
zip_aggregated['MedPrice_sqft'] = zip_aggregated['MedPrice_sqft'].str.get(0)
zip_aggregated

                     useful     funny      cool     Price   stars_1   stars_2  \
postal_code Years
15003       2008   2.000000  0.500000  2.000000  3.000000  0.000000  0.000000
            2009   0.500000  0.000000  0.500000  2.000000  0.000000  0.000000
            2010   1.625000  0.375000  0.375000  2.400000  0.000000  0.000000
            2011   1.200000  0.200000  0.466667  2.400000  0.066667  0.000000
            2012   1.800000  0.450000  0.800000  2.111111  0.150000  0.100000
            2013   0.840000  0.560000  0.640000  1.888889  0.080000  0.120000
            2014   0.764706  0.176471  0.205882  2.071429  0.058824  0.029412
            2015   0.901639  0.327869  0.475410  2.076923  0.098361  0.049180
            2016   0.319444  0.083333  0.194444  2.117647  0.041667  0.041667
            2017   0.000000  0.000000  0.000000  2.666667  0.000000  0.250000
15009       2014   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15012       2015   0.333333  0.000000  0.000000  1.000000  0.000000  0.000000
15015       2011   1.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  0.500000  1.000000  1.500000  0.000000  0.000000
            2013   0.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2014   0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.500000  0.500000  0.000000  1.000000  0.500000  0.000000
15017       2007   1.750000  0.250000  0.250000  1.750000  0.000000  0.000000
            2008   0.666667  0.000000  0.000000  1.500000  0.000000  0.333333
            2009   1.833333  1.166667  0.916667  1.818182  0.166667  0.250000
            2010   1.074074  0.296296  0.296296  1.800000  0.074074  0.037037
            2011   1.276316  0.434211  0.500000  1.650000  0.144737  0.078947
            2012   1.239130  0.405797  0.318841  1.682540  0.137681  0.101449
            2013   1.175214  0.337607  0.320513  1.814286  0.153846  0.145299
            2014   0.977528  0.202247  0.288390  1.773810  0.198502  0.082397
            2015   0.666667  0.139089  0.263789  1.773585  0.179856  0.103118
            2016   0.536545  0.139535  0.272425  1.750000  0.191030  0.131229
...                     ...       ...       ...       ...       ...       ...
15321       2014   0.923077  0.115385  0.346154  2.000000  0.115385  0.038462
            2015   2.903226  1.838710  2.516129  1.600000  0.032258  0.032258
            2016   0.271186  0.016949  0.101695  1.714286  0.033898  0.016949
            2017   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
15332       2006   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2010   9.000000  3.000000  9.000000  2.000000  0.000000  0.000000
            2011   1.500000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   1.000000  0.428571  0.571429  2.000000  0.000000  0.000000
            2013   0.875000  0.000000  0.125000  1.500000  0.250000  0.000000
            2014   1.687500  0.375000  1.000000  1.750000  0.000000  0.062500
            2015   0.360000  0.000000  0.120000  1.666667  0.080000  0.280000
            2016   0.166667  0.000000  0.055556  1.571429  0.055556  0.166667
            2017   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15339       2011   2.000000  0.500000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  1.000000  0.000000  2.000000  0.000000  0.000000
            2013   0.000000  0.500000  0.500000  2.000000  0.000000  0.500000
            2014   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  0.166667  0.000000
15342       2011   1.500000  0.000000  0.000000  1.666667  0.000000  0.000000
            2012   1.111111  0.111111  0.000000  1.000000  0.111111  0.555556
            2013   0.692308  0.000000  0.000000  1.250000  0.384615  0.230769
            2014   0.375000  0.250000  0.250000  1.250000  0.000000  0.250000
            2015   0.642857  0.142857  0.142857  1.833333  0.214286  0.071429
            2016   0.300000  0.000000  0.300000  1.833333  0.100000  0.000000
15367       2012   0.666667  1.000000  0.000000  1.000000  0.333333  0.000000
            2013   0.500000  0.125000  0.125000  1.500000  0.375000  0.000000
            2014   0.500000  0.100000  0.000000  2.000000  0.000000  0.200000
            2015   0.545455  0.090909  0.000000  1.500000  0.000000  0.090909
            2016   0.058824  0.000000  0.000000  1.500000  0.058824  0.000000

                    stars_3   stars_4   stars_5     stars  reviews_perc  \
postal_code Years
15003       2008   0.000000  0.500000  0.500000  4.500000      0.001061
            2009   0.000000  0.500000  0.500000  4.500000      0.000553
            2010   0.125000  0.500000  0.375000  4.250000      0.001275
            2011   0.066667  0.133333  0.733333  4.466667      0.001285
            2012   0.050000  0.300000  0.400000  3.700000      0.001196
            2013   0.040000  0.320000  0.440000  3.920000      0.001188
            2014   0.058824  0.147059  0.705882  4.411765      0.001180
            2015   0.032787  0.131148  0.688525  4.262295      0.001568
            2016   0.055556  0.236111  0.625000  4.361111      0.001638
            2017   0.000000  0.750000  0.000000  3.500000      0.001601
15009       2014   0.000000  0.000000  1.000000  5.000000      0.000035
            2015   0.000000  0.000000  0.000000  1.000000      0.000026
            2016   0.000000  0.000000  0.000000  1.000000      0.000023
15012       2015   0.000000  0.000000  1.000000  5.000000      0.000077
15015       2011   0.000000  0.000000  1.000000  5.000000      0.000086
            2012   0.000000  0.500000  0.500000  4.500000      0.000120
            2013   0.000000  0.000000  1.000000  5.000000      0.000048
            2014   0.000000  0.000000  1.000000  5.000000      0.000035
            2015   0.000000  0.000000  0.000000  1.000000      0.000026
            2016   0.000000  0.000000  0.500000  3.000000      0.000045
15017       2007   0.500000  0.000000  0.500000  4.000000      0.004717
            2008   0.000000  0.333333  0.333333  3.666667      0.001592
            2009   0.333333  0.166667  0.083333  2.750000      0.003318
            2010   0.370370  0.111111  0.407407  3.740741      0.004303
            2011   0.276316  0.302632  0.197368  3.328947      0.006513
            2012   0.202899  0.326087  0.231884  3.413043      0.008255
            2013   0.132479  0.256410  0.311966  3.427350      0.011119
            2014   0.123596  0.250936  0.344569  3.460674      0.009267
            2015   0.143885  0.220624  0.352518  3.462830      0.010716
            2016   0.101329  0.202658  0.373754  3.436877      0.013693
...                     ...       ...       ...       ...           ...
15321       2014   0.192308  0.192308  0.461538  3.846154      0.000902
            2015   0.000000  0.290323  0.645161  4.483871      0.000797
            2016   0.050847  0.169492  0.728814  4.542373      0.001342
            2017   0.000000  1.000000  0.000000  4.000000      0.000400
15332       2006   0.000000  0.000000  1.000000  5.000000      0.004367
            2010   0.000000  0.000000  1.000000  5.000000      0.000159
            2011   0.500000  0.000000  0.500000  4.000000      0.000171
            2012   0.142857  0.571429  0.285714  4.142857      0.000419
            2013   0.000000  0.625000  0.125000  3.375000      0.000380
            2014   0.062500  0.312500  0.562500  4.375000      0.000555
            2015   0.080000  0.200000  0.360000  3.480000      0.000642
            2016   0.111111  0.111111  0.555556  3.944444      0.000409
            2017   0.000000  0.000000  0.000000  1.000000      0.000400
15339       2011   0.000000  1.000000  0.000000  4.000000      0.000171
            2012   0.000000  1.000000  0.000000  4.000000      0.000060
            2013   0.000000  0.500000  0.000000  3.000000      0.000095
            2014   0.000000  1.000000  0.000000  4.000000      0.000035
            2015   1.000000  0.000000  0.000000  3.000000      0.000026
            2016   0.000000  0.333333  0.500000  4.000000      0.000136
15342       2011   0.000000  0.750000  0.250000  4.250000      0.000343
            2012   0.111111  0.111111  0.111111  2.555556      0.000538
            2013   0.076923  0.230769  0.076923  2.384615      0.000618
            2014   0.000000  0.625000  0.125000  3.625000      0.000278
            2015   0.214286  0.285714  0.214286  3.214286      0.000360
            2016   0.100000  0.200000  0.600000  4.200000      0.000227
15367       2012   0.000000  0.333333  0.333333  3.333333      0.000179
            2013   0.000000  0.125000  0.500000  3.375000      0.000380
            2014   0.100000  0.600000  0.100000  3.600000      0.000347
            2015   0.090909  0.181818  0.636364  4.363636      0.000283
            2016   0.117647  0.117647  0.705882  4.411765      0.000387

                   prev_stars  MedPrice_sqft
postal_code Years
15003       2008          NaN           57.0
            2009     4.500000           55.5
            2010     4.500000           57.5
            2011     4.250000           54.0
            2012     4.466667           55.5
            2013     3.700000           57.0
            2014     3.920000           57.0
            2015     4.411765           58.0
            2016     4.262295           65.0
            2017     4.361111           66.0
15009       2014          NaN          104.5
            2015     5.000000          111.0
            2016     1.000000          116.0
15012       2015          NaN           75.5
15015       2011          NaN          117.0
            2012     5.000000          115.5
            2013     4.500000          119.0
            2014     5.000000          126.5
            2015     5.000000          133.0
            2016     1.000000          143.5
15017       2007          NaN           96.0
            2008     4.000000           94.0
            2009     3.666667           93.0
            2010     2.750000           97.0
            2011     3.740741           98.0
            2012     3.328947           98.0
            2013     3.413043          101.0
            2014     3.427350          104.0
            2015     3.460674          109.5
            2016     3.462830          115.5
...                       ...            ...
15321       2014     4.153846          117.5
            2015     3.846154          119.0
            2016     4.483871          124.5
            2017     4.542373          128.0
15332       2006          NaN           88.0
            2010          NaN           95.5
            2011     5.000000           96.0
            2012     4.000000          100.5
            2013     4.142857          102.0
            2014     3.375000          103.5
            2015     4.375000          107.0
            2016     3.480000          113.0
            2017     3.944444          115.0
15339       2011          NaN            NaN
            2012     4.000000            NaN
            2013     4.000000            NaN
            2014     3.000000            NaN
            2015     4.000000            NaN
            2016     3.000000            NaN
15342       2011          NaN           96.0
            2012     4.250000          100.5
            2013     2.555556          101.5
            2014     2.384615          106.0
            2015     3.625000          109.0
            2016     3.214286          112.0
15367       2012          NaN          132.5
            2013     3.333333          136.5
            2014     3.375000          145.0
            2015     3.600000          149.0
            2016     4.363636          151.0

[1030 rows x 13 columns]

In [291]:
zip_aggregated.columns = [u'useful', u'funny', u'cool', u'Price', u'stars_1', u'stars_2',
       u'stars_3', u'stars_4', u'stars_5', u'stars', u'reviews_perc',
       u'prev_stars', u'MedPrice_sqft(t)']

In [292]:
zip_aggregated

                     useful     funny      cool     Price   stars_1   stars_2  \
postal_code Years
15003       2008   2.000000  0.500000  2.000000  3.000000  0.000000  0.000000
            2009   0.500000  0.000000  0.500000  2.000000  0.000000  0.000000
            2010   1.625000  0.375000  0.375000  2.400000  0.000000  0.000000
            2011   1.200000  0.200000  0.466667  2.400000  0.066667  0.000000
            2012   1.800000  0.450000  0.800000  2.111111  0.150000  0.100000
            2013   0.840000  0.560000  0.640000  1.888889  0.080000  0.120000
            2014   0.764706  0.176471  0.205882  2.071429  0.058824  0.029412
            2015   0.901639  0.327869  0.475410  2.076923  0.098361  0.049180
            2016   0.319444  0.083333  0.194444  2.117647  0.041667  0.041667
            2017   0.000000  0.000000  0.000000  2.666667  0.000000  0.250000
15009       2014   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15012       2015   0.333333  0.000000  0.000000  1.000000  0.000000  0.000000
15015       2011   1.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  0.500000  1.000000  1.500000  0.000000  0.000000
            2013   0.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2014   0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.500000  0.500000  0.000000  1.000000  0.500000  0.000000
15017       2007   1.750000  0.250000  0.250000  1.750000  0.000000  0.000000
            2008   0.666667  0.000000  0.000000  1.500000  0.000000  0.333333
            2009   1.833333  1.166667  0.916667  1.818182  0.166667  0.250000
            2010   1.074074  0.296296  0.296296  1.800000  0.074074  0.037037
            2011   1.276316  0.434211  0.500000  1.650000  0.144737  0.078947
            2012   1.239130  0.405797  0.318841  1.682540  0.137681  0.101449
            2013   1.175214  0.337607  0.320513  1.814286  0.153846  0.145299
            2014   0.977528  0.202247  0.288390  1.773810  0.198502  0.082397
            2015   0.666667  0.139089  0.263789  1.773585  0.179856  0.103118
            2016   0.536545  0.139535  0.272425  1.750000  0.191030  0.131229
...                     ...       ...       ...       ...       ...       ...
15321       2014   0.923077  0.115385  0.346154  2.000000  0.115385  0.038462
            2015   2.903226  1.838710  2.516129  1.600000  0.032258  0.032258
            2016   0.271186  0.016949  0.101695  1.714286  0.033898  0.016949
            2017   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
15332       2006   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2010   9.000000  3.000000  9.000000  2.000000  0.000000  0.000000
            2011   1.500000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   1.000000  0.428571  0.571429  2.000000  0.000000  0.000000
            2013   0.875000  0.000000  0.125000  1.500000  0.250000  0.000000
            2014   1.687500  0.375000  1.000000  1.750000  0.000000  0.062500
            2015   0.360000  0.000000  0.120000  1.666667  0.080000  0.280000
            2016   0.166667  0.000000  0.055556  1.571429  0.055556  0.166667
            2017   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15339       2011   2.000000  0.500000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  1.000000  0.000000  2.000000  0.000000  0.000000
            2013   0.000000  0.500000  0.500000  2.000000  0.000000  0.500000
            2014   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  0.166667  0.000000
15342       2011   1.500000  0.000000  0.000000  1.666667  0.000000  0.000000
            2012   1.111111  0.111111  0.000000  1.000000  0.111111  0.555556
            2013   0.692308  0.000000  0.000000  1.250000  0.384615  0.230769
            2014   0.375000  0.250000  0.250000  1.250000  0.000000  0.250000
            2015   0.642857  0.142857  0.142857  1.833333  0.214286  0.071429
            2016   0.300000  0.000000  0.300000  1.833333  0.100000  0.000000
15367       2012   0.666667  1.000000  0.000000  1.000000  0.333333  0.000000
            2013   0.500000  0.125000  0.125000  1.500000  0.375000  0.000000
            2014   0.500000  0.100000  0.000000  2.000000  0.000000  0.200000
            2015   0.545455  0.090909  0.000000  1.500000  0.000000  0.090909
            2016   0.058824  0.000000  0.000000  1.500000  0.058824  0.000000

                    stars_3   stars_4   stars_5     stars  reviews_perc  \
postal_code Years
15003       2008   0.000000  0.500000  0.500000  4.500000      0.001061
            2009   0.000000  0.500000  0.500000  4.500000      0.000553
            2010   0.125000  0.500000  0.375000  4.250000      0.001275
            2011   0.066667  0.133333  0.733333  4.466667      0.001285
            2012   0.050000  0.300000  0.400000  3.700000      0.001196
            2013   0.040000  0.320000  0.440000  3.920000      0.001188
            2014   0.058824  0.147059  0.705882  4.411765      0.001180
            2015   0.032787  0.131148  0.688525  4.262295      0.001568
            2016   0.055556  0.236111  0.625000  4.361111      0.001638
            2017   0.000000  0.750000  0.000000  3.500000      0.001601
15009       2014   0.000000  0.000000  1.000000  5.000000      0.000035
            2015   0.000000  0.000000  0.000000  1.000000      0.000026
            2016   0.000000  0.000000  0.000000  1.000000      0.000023
15012       2015   0.000000  0.000000  1.000000  5.000000      0.000077
15015       2011   0.000000  0.000000  1.000000  5.000000      0.000086
            2012   0.000000  0.500000  0.500000  4.500000      0.000120
            2013   0.000000  0.000000  1.000000  5.000000      0.000048
            2014   0.000000  0.000000  1.000000  5.000000      0.000035
            2015   0.000000  0.000000  0.000000  1.000000      0.000026
            2016   0.000000  0.000000  0.500000  3.000000      0.000045
15017       2007   0.500000  0.000000  0.500000  4.000000      0.004717
            2008   0.000000  0.333333  0.333333  3.666667      0.001592
            2009   0.333333  0.166667  0.083333  2.750000      0.003318
            2010   0.370370  0.111111  0.407407  3.740741      0.004303
            2011   0.276316  0.302632  0.197368  3.328947      0.006513
            2012   0.202899  0.326087  0.231884  3.413043      0.008255
            2013   0.132479  0.256410  0.311966  3.427350      0.011119
            2014   0.123596  0.250936  0.344569  3.460674      0.009267
            2015   0.143885  0.220624  0.352518  3.462830      0.010716
            2016   0.101329  0.202658  0.373754  3.436877      0.013693
...                     ...       ...       ...       ...           ...
15321       2014   0.192308  0.192308  0.461538  3.846154      0.000902
            2015   0.000000  0.290323  0.645161  4.483871      0.000797
            2016   0.050847  0.169492  0.728814  4.542373      0.001342
            2017   0.000000  1.000000  0.000000  4.000000      0.000400
15332       2006   0.000000  0.000000  1.000000  5.000000      0.004367
            2010   0.000000  0.000000  1.000000  5.000000      0.000159
            2011   0.500000  0.000000  0.500000  4.000000      0.000171
            2012   0.142857  0.571429  0.285714  4.142857      0.000419
            2013   0.000000  0.625000  0.125000  3.375000      0.000380
            2014   0.062500  0.312500  0.562500  4.375000      0.000555
            2015   0.080000  0.200000  0.360000  3.480000      0.000642
            2016   0.111111  0.111111  0.555556  3.944444      0.000409
            2017   0.000000  0.000000  0.000000  1.000000      0.000400
15339       2011   0.000000  1.000000  0.000000  4.000000      0.000171
            2012   0.000000  1.000000  0.000000  4.000000      0.000060
            2013   0.000000  0.500000  0.000000  3.000000      0.000095
            2014   0.000000  1.000000  0.000000  4.000000      0.000035
            2015   1.000000  0.000000  0.000000  3.000000      0.000026
            2016   0.000000  0.333333  0.500000  4.000000      0.000136
15342       2011   0.000000  0.750000  0.250000  4.250000      0.000343
            2012   0.111111  0.111111  0.111111  2.555556      0.000538
            2013   0.076923  0.230769  0.076923  2.384615      0.000618
            2014   0.000000  0.625000  0.125000  3.625000      0.000278
            2015   0.214286  0.285714  0.214286  3.214286      0.000360
            2016   0.100000  0.200000  0.600000  4.200000      0.000227
15367       2012   0.000000  0.333333  0.333333  3.333333      0.000179
            2013   0.000000  0.125000  0.500000  3.375000      0.000380
            2014   0.100000  0.600000  0.100000  3.600000      0.000347
            2015   0.090909  0.181818  0.636364  4.363636      0.000283
            2016   0.117647  0.117647  0.705882  4.411765      0.000387

                   prev_stars  MedPrice_sqft(t)
postal_code Years
15003       2008          NaN              57.0
            2009     4.500000              55.5
            2010     4.500000              57.5
            2011     4.250000              54.0
            2012     4.466667              55.5
            2013     3.700000              57.0
            2014     3.920000              57.0
            2015     4.411765              58.0
            2016     4.262295              65.0
            2017     4.361111              66.0
15009       2014          NaN             104.5
            2015     5.000000             111.0
            2016     1.000000             116.0
15012       2015          NaN              75.5
15015       2011          NaN             117.0
            2012     5.000000             115.5
            2013     4.500000             119.0
            2014     5.000000             126.5
            2015     5.000000             133.0
            2016     1.000000             143.5
15017       2007          NaN              96.0
            2008     4.000000              94.0
            2009     3.666667              93.0
            2010     2.750000              97.0
            2011     3.740741              98.0
            2012     3.328947              98.0
            2013     3.413043             101.0
            2014     3.427350             104.0
            2015     3.460674             109.5
            2016     3.462830             115.5
...                       ...               ...
15321       2014     4.153846             117.5
            2015     3.846154             119.0
            2016     4.483871             124.5
            2017     4.542373             128.0
15332       2006          NaN              88.0
            2010          NaN              95.5
            2011     5.000000              96.0
            2012     4.000000             100.5
            2013     4.142857             102.0
            2014     3.375000             103.5
            2015     4.375000             107.0
            2016     3.480000             113.0
            2017     3.944444             115.0
15339       2011          NaN               NaN
            2012     4.000000               NaN
            2013     4.000000               NaN
            2014     3.000000               NaN
            2015     4.000000               NaN
            2016     3.000000               NaN
15342       2011          NaN              96.0
            2012     4.250000             100.5
            2013     2.555556             101.5
            2014     2.384615             106.0
            2015     3.625000             109.0
            2016     3.214286             112.0
15367       2012          NaN             132.5
            2013     3.333333             136.5
            2014     3.375000             145.0
            2015     3.600000             149.0
            2016     4.363636             151.0

[1030 rows x 13 columns]

In [293]:
#For t=t-1
t=-1
Med_price_sqft_tminus1 = [med_zip[(med_zip['RegionName']==int(flatten_zip.ix[i]['postal_code']))&(med_zip['Years']==str(flatten_zip.ix[i]['Years']+t))]['MedSqft'].values for i in range(len(flatten_zip))]

In [294]:
#For t=t-2
t=-2
Med_price_sqft_tminus2 = [med_zip[(med_zip['RegionName']==int(flatten_zip.ix[i]['postal_code']))&(med_zip['Years']==str(flatten_zip.ix[i]['Years']+t))]['MedSqft'].values for i in range(len(flatten_zip))]

In [295]:
#For t=t+1
t=1
Med_price_sqft_tplus1 = [med_zip[(med_zip['RegionName']==int(flatten_zip.ix[i]['postal_code']))&(med_zip['Years']==str(flatten_zip.ix[i]['Years']+t))]['MedSqft'].values for i in range(len(flatten_zip))]

In [300]:
zip_aggregated['MedPrice_sqft_tminus1'] = Med_price_sqft_tminus1
zip_aggregated['MedPrice_sqft_tminus1'] = zip_aggregated['MedPrice_sqft_tminus1'].str.get(0)

zip_aggregated['MedPrice_sqft_tminus2'] = Med_price_sqft_tminus2
zip_aggregated['MedPrice_sqft_tminus2'] = zip_aggregated['MedPrice_sqft_tminus2'].str.get(0)

zip_aggregated['MedPrice_sqft_tplus1'] = Med_price_sqft_tplus1
zip_aggregated['MedPrice_sqft_tplus1'] = zip_aggregated['MedPrice_sqft_tplus1'].str.get(0)

zip_aggregated

                     useful     funny      cool     Price   stars_1   stars_2  \
postal_code Years
15003       2008   2.000000  0.500000  2.000000  3.000000  0.000000  0.000000
            2009   0.500000  0.000000  0.500000  2.000000  0.000000  0.000000
            2010   1.625000  0.375000  0.375000  2.400000  0.000000  0.000000
            2011   1.200000  0.200000  0.466667  2.400000  0.066667  0.000000
            2012   1.800000  0.450000  0.800000  2.111111  0.150000  0.100000
            2013   0.840000  0.560000  0.640000  1.888889  0.080000  0.120000
            2014   0.764706  0.176471  0.205882  2.071429  0.058824  0.029412
            2015   0.901639  0.327869  0.475410  2.076923  0.098361  0.049180
            2016   0.319444  0.083333  0.194444  2.117647  0.041667  0.041667
            2017   0.000000  0.000000  0.000000  2.666667  0.000000  0.250000
15009       2014   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15012       2015   0.333333  0.000000  0.000000  1.000000  0.000000  0.000000
15015       2011   1.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  0.500000  1.000000  1.500000  0.000000  0.000000
            2013   0.000000  0.000000  1.000000  2.000000  0.000000  0.000000
            2014   0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
            2016   0.500000  0.500000  0.000000  1.000000  0.500000  0.000000
15017       2007   1.750000  0.250000  0.250000  1.750000  0.000000  0.000000
            2008   0.666667  0.000000  0.000000  1.500000  0.000000  0.333333
            2009   1.833333  1.166667  0.916667  1.818182  0.166667  0.250000
            2010   1.074074  0.296296  0.296296  1.800000  0.074074  0.037037
            2011   1.276316  0.434211  0.500000  1.650000  0.144737  0.078947
            2012   1.239130  0.405797  0.318841  1.682540  0.137681  0.101449
            2013   1.175214  0.337607  0.320513  1.814286  0.153846  0.145299
            2014   0.977528  0.202247  0.288390  1.773810  0.198502  0.082397
            2015   0.666667  0.139089  0.263789  1.773585  0.179856  0.103118
            2016   0.536545  0.139535  0.272425  1.750000  0.191030  0.131229
...                     ...       ...       ...       ...       ...       ...
15321       2014   0.923077  0.115385  0.346154  2.000000  0.115385  0.038462
            2015   2.903226  1.838710  2.516129  1.600000  0.032258  0.032258
            2016   0.271186  0.016949  0.101695  1.714286  0.033898  0.016949
            2017   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
15332       2006   1.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2010   9.000000  3.000000  9.000000  2.000000  0.000000  0.000000
            2011   1.500000  0.000000  1.000000  2.000000  0.000000  0.000000
            2012   1.000000  0.428571  0.571429  2.000000  0.000000  0.000000
            2013   0.875000  0.000000  0.125000  1.500000  0.250000  0.000000
            2014   1.687500  0.375000  1.000000  1.750000  0.000000  0.062500
            2015   0.360000  0.000000  0.120000  1.666667  0.080000  0.280000
            2016   0.166667  0.000000  0.055556  1.571429  0.055556  0.166667
            2017   0.000000  0.000000  0.000000  2.000000  1.000000  0.000000
15339       2011   2.000000  0.500000  1.000000  2.000000  0.000000  0.000000
            2012   0.000000  1.000000  0.000000  2.000000  0.000000  0.000000
            2013   0.000000  0.500000  0.500000  2.000000  0.000000  0.500000
            2014   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2015   0.000000  0.000000  0.000000  2.000000  0.000000  0.000000
            2016   0.000000  0.000000  0.000000  2.000000  0.166667  0.000000
15342       2011   1.500000  0.000000  0.000000  1.666667  0.000000  0.000000
            2012   1.111111  0.111111  0.000000  1.000000  0.111111  0.555556
            2013   0.692308  0.000000  0.000000  1.250000  0.384615  0.230769
            2014   0.375000  0.250000  0.250000  1.250000  0.000000  0.250000
            2015   0.642857  0.142857  0.142857  1.833333  0.214286  0.071429
            2016   0.300000  0.000000  0.300000  1.833333  0.100000  0.000000
15367       2012   0.666667  1.000000  0.000000  1.000000  0.333333  0.000000
            2013   0.500000  0.125000  0.125000  1.500000  0.375000  0.000000
            2014   0.500000  0.100000  0.000000  2.000000  0.000000  0.200000
            2015   0.545455  0.090909  0.000000  1.500000  0.000000  0.090909
            2016   0.058824  0.000000  0.000000  1.500000  0.058824  0.000000

                    stars_3   stars_4   stars_5     stars  reviews_perc  \
postal_code Years
15003       2008   0.000000  0.500000  0.500000  4.500000      0.001061
            2009   0.000000  0.500000  0.500000  4.500000      0.000553
            2010   0.125000  0.500000  0.375000  4.250000      0.001275
            2011   0.066667  0.133333  0.733333  4.466667      0.001285
            2012   0.050000  0.300000  0.400000  3.700000      0.001196
            2013   0.040000  0.320000  0.440000  3.920000      0.001188
            2014   0.058824  0.147059  0.705882  4.411765      0.001180
            2015   0.032787  0.131148  0.688525  4.262295      0.001568
            2016   0.055556  0.236111  0.625000  4.361111      0.001638
            2017   0.000000  0.750000  0.000000  3.500000      0.001601
15009       2014   0.000000  0.000000  1.000000  5.000000      0.000035
            2015   0.000000  0.000000  0.000000  1.000000      0.000026
            2016   0.000000  0.000000  0.000000  1.000000      0.000023
15012       2015   0.000000  0.000000  1.000000  5.000000      0.000077
15015       2011   0.000000  0.000000  1.000000  5.000000      0.000086
            2012   0.000000  0.500000  0.500000  4.500000      0.000120
            2013   0.000000  0.000000  1.000000  5.000000      0.000048
            2014   0.000000  0.000000  1.000000  5.000000      0.000035
            2015   0.000000  0.000000  0.000000  1.000000      0.000026
            2016   0.000000  0.000000  0.500000  3.000000      0.000045
15017       2007   0.500000  0.000000  0.500000  4.000000      0.004717
            2008   0.000000  0.333333  0.333333  3.666667      0.001592
            2009   0.333333  0.166667  0.083333  2.750000      0.003318
            2010   0.370370  0.111111  0.407407  3.740741      0.004303
            2011   0.276316  0.302632  0.197368  3.328947      0.006513
            2012   0.202899  0.326087  0.231884  3.413043      0.008255
            2013   0.132479  0.256410  0.311966  3.427350      0.011119
            2014   0.123596  0.250936  0.344569  3.460674      0.009267
            2015   0.143885  0.220624  0.352518  3.462830      0.010716
            2016   0.101329  0.202658  0.373754  3.436877      0.013693
...                     ...       ...       ...       ...           ...
15321       2014   0.192308  0.192308  0.461538  3.846154      0.000902
            2015   0.000000  0.290323  0.645161  4.483871      0.000797
            2016   0.050847  0.169492  0.728814  4.542373      0.001342
            2017   0.000000  1.000000  0.000000  4.000000      0.000400
15332       2006   0.000000  0.000000  1.000000  5.000000      0.004367
            2010   0.000000  0.000000  1.000000  5.000000      0.000159
            2011   0.500000  0.000000  0.500000  4.000000      0.000171
            2012   0.142857  0.571429  0.285714  4.142857      0.000419
            2013   0.000000  0.625000  0.125000  3.375000      0.000380
            2014   0.062500  0.312500  0.562500  4.375000      0.000555
            2015   0.080000  0.200000  0.360000  3.480000      0.000642
            2016   0.111111  0.111111  0.555556  3.944444      0.000409
            2017   0.000000  0.000000  0.000000  1.000000      0.000400
15339       2011   0.000000  1.000000  0.000000  4.000000      0.000171
            2012   0.000000  1.000000  0.000000  4.000000      0.000060
            2013   0.000000  0.500000  0.000000  3.000000      0.000095
            2014   0.000000  1.000000  0.000000  4.000000      0.000035
            2015   1.000000  0.000000  0.000000  3.000000      0.000026
            2016   0.000000  0.333333  0.500000  4.000000      0.000136
15342       2011   0.000000  0.750000  0.250000  4.250000      0.000343
            2012   0.111111  0.111111  0.111111  2.555556      0.000538
            2013   0.076923  0.230769  0.076923  2.384615      0.000618
            2014   0.000000  0.625000  0.125000  3.625000      0.000278
            2015   0.214286  0.285714  0.214286  3.214286      0.000360
            2016   0.100000  0.200000  0.600000  4.200000      0.000227
15367       2012   0.000000  0.333333  0.333333  3.333333      0.000179
            2013   0.000000  0.125000  0.500000  3.375000      0.000380
            2014   0.100000  0.600000  0.100000  3.600000      0.000347
            2015   0.090909  0.181818  0.636364  4.363636      0.000283
            2016   0.117647  0.117647  0.705882  4.411765      0.000387

                   prev_stars  MedPrice_sqft(t)  MedPrice_sqft_tminus1  \
postal_code Years
15003       2008          NaN              57.0                   57.0
            2009     4.500000              55.5                   57.0
            2010     4.500000              57.5                   55.5
            2011     4.250000              54.0                   57.5
            2012     4.466667              55.5                   54.0
            2013     3.700000              57.0                   55.5
            2014     3.920000              57.0                   57.0
            2015     4.411765              58.0                   57.0
            2016     4.262295              65.0                   58.0
            2017     4.361111              66.0                   65.0
15009       2014          NaN             104.5                   98.0
            2015     5.000000             111.0                  104.5
            2016     1.000000             116.0                  111.0
15012       2015          NaN              75.5                   77.0
15015       2011          NaN             117.0                  116.0
            2012     5.000000             115.5                  117.0
            2013     4.500000             119.0                  115.5
            2014     5.000000             126.5                  119.0
            2015     5.000000             133.0                  126.5
            2016     1.000000             143.5                  133.0
15017       2007          NaN              96.0                   92.0
            2008     4.000000              94.0                   96.0
            2009     3.666667              93.0                   94.0
            2010     2.750000              97.0                   93.0
            2011     3.740741              98.0                   97.0
            2012     3.328947              98.0                   98.0
            2013     3.413043             101.0                   98.0
            2014     3.427350             104.0                  101.0
            2015     3.460674             109.5                  104.0
            2016     3.462830             115.5                  109.5
...                       ...               ...                    ...
15321       2014     4.153846             117.5                  111.0
            2015     3.846154             119.0                  117.5
            2016     4.483871             124.5                  119.0
            2017     4.542373             128.0                  124.5
15332       2006          NaN              88.0                   88.0
            2010          NaN              95.5                   90.0
            2011     5.000000              96.0                   95.5
            2012     4.000000             100.5                   96.0
            2013     4.142857             102.0                  100.5
            2014     3.375000             103.5                  102.0
            2015     4.375000             107.0                  103.5
            2016     3.480000             113.0                  107.0
            2017     3.944444             115.0                  113.0
15339       2011          NaN               NaN                    NaN
            2012     4.000000               NaN                    NaN
            2013     4.000000               NaN                    NaN
            2014     3.000000               NaN                    NaN
            2015     4.000000               NaN                    NaN
            2016     3.000000               NaN                    NaN
15342       2011          NaN              96.0                   95.0
            2012     4.250000             100.5                   96.0
            2013     2.555556             101.5                  100.5
            2014     2.384615             106.0                  101.5
            2015     3.625000             109.0                  106.0
            2016     3.214286             112.0                  109.0
15367       2012          NaN             132.5                  128.0
            2013     3.333333             136.5                  132.5
            2014     3.375000             145.0                  136.5
            2015     3.600000             149.0                  145.0
            2016     4.363636             151.0                  149.0

                   MedPrice_sqft_tminus2  MedPrice_sqft_tplus1
postal_code Years
15003       2008                    57.0                  55.5
            2009                    57.0                  57.5
            2010                    57.0                  54.0
            2011                    55.5                  55.5
            2012                    57.5                  57.0
            2013                    54.0                  57.0
            2014                    55.5                  58.0
            2015                    57.0                  65.0
            2016                    57.0                  66.0
            2017                    58.0                   NaN
15009       2014                    96.0                 111.0
            2015                    98.0                 116.0
            2016                   104.5                 116.5
15012       2015                    83.0                  80.5
15015       2011                   107.5                 115.5
            2012                   116.0                 119.0
            2013                   117.0                 126.5
            2014                   115.5                 133.0
            2015                   119.0                 143.5
            2016                   126.5                 148.5
15017       2007                    90.0                  94.0
            2008                    92.0                  93.0
            2009                    96.0                  97.0
            2010                    94.0                  98.0
            2011                    93.0                  98.0
            2012                    97.0                 101.0
            2013                    98.0                 104.0
            2014                    98.0                 109.5
            2015                   101.0                 115.5
            2016                   104.0                 119.0
...                                  ...                   ...
15321       2014                   108.5                 119.0
            2015                   111.0                 124.5
            2016                   117.5                 128.0
            2017                   119.0                   NaN
15332       2006                    83.0                  90.0
            2010                    91.0                  96.0
            2011                    90.0                 100.5
            2012                    95.5                 102.0
            2013                    96.0                 103.5
            2014                   100.5                 107.0
            2015                   102.0                 113.0
            2016                   103.5                 115.0
            2017                   107.0                   NaN
15339       2011                     NaN                   NaN
            2012                     NaN                   NaN
            2013                     NaN                   NaN
            2014                     NaN                   NaN
            2015                     NaN                   NaN
            2016                     NaN                   NaN
15342       2011                    92.0                 100.5
            2012                    95.0                 101.5
            2013                    96.0                 106.0
            2014                   100.5                 109.0
            2015                   101.5                 112.0
            2016                   106.0                 113.0
15367       2012                   127.0                 136.5
            2013                   128.0                 145.0
            2014                   132.5                 149.0
            2015                   136.5                 151.0
            2016                   145.0                 154.0

[1030 rows x 16 columns]

In [301]:
output_file = open("Feature_Matrix_complete.dat","wb")
pickle.dump(zip_aggregated, output_file)
output_file.close()

In [302]:
zip_aggregated.to_csv("Feature_Matrix_Yelp_Complete.csv")